@using Microsoft.AspNetCore.Identity;
@using ZAlpha.Domain.Identity;
@using ZAlpha.Application.Common.Interfaces;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Ppychologist Info";
    Layout = "~/Views/Shared/Customer_Layout.cshtml";
}


@inject IIdentityService _identityServices;

<!-- SECTION NAVIGATION -->
<nav class="section-navigation">
    <!-- SECTION MENU -->
    <div class="tns-outer" id="section-navigation-slider-ow">
        <div class="tns-liveregion tns-visually-hidden" aria-live="polite" aria-atomic="true">slide <span class="current">1 to 6</span>  of 11</div><div id="section-navigation-slider-mw" class="tns-ovh">
            <div class="tns-inner" id="section-navigation-slider-iw">
                <div class="tns-outer" id="section-navigation-slider-ow">
                    <div class="tns-liveregion tns-visually-hidden" aria-live="polite" aria-atomic="true">slide <span class="current">1 to 6</span>  of 6</div><div id="section-navigation-slider-mw" class="tns-ovh">
                        <div class="tns-inner" id="section-navigation-slider-iw">
                            <div id="section-navigation-slider" class="section-menu  tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal  tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal" style="transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
                                <!-- SECTION MENU ITEM -->
                                <a class="section-menu-item active tns-item tns-slide-active" href="/Customer/Index/" id="section-navigation-slider-item0">
                                    <!-- SECTION MENU ITEM ICON -->
                                    <svg class="section-menu-item-icon icon-profile">
                                        <use xlink:href="#svg-profile"></use>
                                    </svg>
                                    <!-- /SECTION MENU ITEM ICON -->
                                    <!-- SECTION MENU ITEM TEXT -->
                                    <p class="section-menu-item-text">Thông tin</p>
                                    <!-- /SECTION MENU ITEM TEXT -->
                                </a>
                                <!-- /SECTION MENU ITEM -->
                                <!-- SECTION MENU ITEM -->
                                <a class="section-menu-item tns-item tns-slide-active" href="/Customer/PostList/" id="section-navigation-slider-item1">
                                    <!-- SECTION MENU ITEM ICON -->
                                    <svg class="section-menu-item-icon icon-timeline">
                                        <use xlink:href="#svg-timeline"></use>
                                    </svg>
                                    <!-- /SECTION MENU ITEM ICON -->
                                    <!-- SECTION MENU ITEM TEXT -->
                                    <p class="section-menu-item-text">Bài viết của bạn</p>
                                    <!-- /SECTION MENU ITEM TEXT -->
                                </a>
                                <!-- /SECTION MENU ITEM -->
                                <!-- SECTION MENU ITEM -->
                                <a class="section-menu-item tns-item tns-slide-active" href="/Customer/PostSaved/" id="section-navigation-slider-item2">
                                    <!-- SECTION MENU ITEM ICON -->
                                    <svg class="section-menu-item-icon icon-friend">
                                        <use xlink:href="#svg-share"></use>
                                    </svg>
                                    <!-- /SECTION MENU ITEM ICON -->
                                    <!-- SECTION MENU ITEM TEXT -->
                                    <p class="section-menu-item-text">Bài viết đã lưu</p>
                                    <!-- /SECTION MENU ITEM TEXT -->
                                </a>
                                <!-- /SECTION MENU ITEM -->
                                <!-- SECTION MENU ITEM -->
                                <a class="section-menu-item tns-item tns-slide-active" href="#" id="section-navigation-slider-item2">
                                    <!-- SECTION MENU ITEM ICON -->
                                    <svg class="section-menu-item-icon icon-friend">
                                        <use xlink:href="#svg-friend"></use>
                                    </svg>
                                    <!-- /SECTION MENU ITEM ICON -->
                                    <!-- SECTION MENU ITEM TEXT -->
                                    <p class="section-menu-item-text">Bạn bè</p>
                                    <!-- /SECTION MENU ITEM TEXT -->
                                </a>
                                <!-- /SECTION MENU ITEM -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /SECTION MENU -->
    <!-- SLIDER CONTROLS -->
    <div id="section-navigation-slider-controls" class="slider-controls" aria-label="Carousel Navigation" tabindex="0" style="">
        <!-- SLIDER CONTROL -->
        <div class="slider-control left" aria-controls="section-navigation-slider" tabindex="-1" data-controls="prev" aria-disabled="true">
            <!-- SLIDER CONTROL ICON -->
            <svg class="slider-control-icon icon-small-arrow">
                <use xlink:href="#svg-small-arrow"></use>
            </svg>
            <!-- /SLIDER CONTROL ICON -->
        </div>
        <!-- /SLIDER CONTROL -->
        <!-- SLIDER CONTROL -->
        <div class="slider-control right" aria-controls="section-navigation-slider" tabindex="-1" data-controls="next">
            <!-- SLIDER CONTROL ICON -->
            <svg class="slider-control-icon icon-small-arrow">
                <use xlink:href="#svg-small-arrow"></use>
            </svg>
            <!-- /SLIDER CONTROL ICON -->
        </div>
        <!-- /SLIDER CONTROL -->
    </div>
    <!-- /SLIDER CONTROLS -->
</nav>
<!-- /SECTION NAVIGATION -->
<div class="grid-column">
    <!-- GRID -->
    <!-- /GRID -->
    <!-- WIDGET BOX -->
    <div class="widget-box">
        <!-- WIDGET BOX TITLE -->
        <p class="widget-box-title">About Your Profile</p>
        <!-- /WIDGET BOX TITLE -->
        <!-- WIDGET BOX CONTENT -->
        <div class="widget-box-content">
            <!-- FORM -->
            <form class="form" action="/Customer/UpdateCustomer" method="post">
                <!-- FORM ROW -->
                <div class="form-row split">
                    <!-- FORM ITEM -->
                    <div class="form-item">
                        <!-- FORM INPUT -->
                        <div class="form-input small active">
                            <label for="profile-tagline">Username</label>
                            <input type="text" id="profile-tagline" name="profile_tagline" readonly="" value="@Model.UserAccount.UserName">
                        </div>
                        <!-- /FORM INPUT -->
                    </div>
                    <!-- /FORM ITEM -->
                    <!-- FORM ITEM -->
                    <div class="form-item">
                        <!-- FORM INPUT -->
                        <div class="form-input small active">
                            <label for="profile-public-email">Email</label>
                            <input type="text" id="profile-public-email" name="profile_public_email" readonly="" value="@Model.UserAccount.Email">
                        </div>
                        <!-- /FORM INPUT -->
                    </div>
                    <!-- /FORM ITEM -->
                </div>
                <!-- /FORM ROW -->
                <!-- FORM ROW -->
                <div class="form-row split">
                    <!-- FORM ITEM -->
                    <div class="form-item">
                        <!-- FORM INPUT -->
                        <div class="form-input small active">
                            <label for="profile-name">Fisrt Name</label>
                            <input type="text" id="profile-name" name="FirstName" value="@Model.UserAccount.FirstName">
                        </div>
                        <!-- /FORM INPUT -->
                    </div>
                    <!-- /FORM ITEM -->
                    <!-- FORM ITEM -->
                    <div class="form-item">
                        <!-- FORM INPUT -->
                        <div class="form-input small active">
                            <label for="profile-name">Last Name</label>
                            <input type="text" id="profile-name" name="LastName" value="@Model.UserAccount.LastName">
                        </div>
                        <!-- /FORM INPUT -->
                    </div>
                    <!-- /FORM ITEM -->
                </div>
                <!-- /FORM ROW -->
                <!-- FORM ROW -->
                <div class="form-row split">
                    <!-- FORM ITEM -->
                    <div class="form-item">
                        <!-- FORM INPUT -->
                        <div class="form-input small active">
                            <label for="profile-occupation">Address</label>
                            <input type="text" id="profile-occupation" name="Address" value="@Model.UserAccount.Address">
                        </div>
                        <!-- /FORM INPUT -->
                    </div>
                    <!-- /FORM ITEM -->
                    <!-- FORM ITEM -->
                    <div class="form-item">
                        <!-- FORM INPUT -->
                        <div class="form-input small active">
                            <label for="profile-public-website">Phone</label>
                            <input type="text" id="profile-public-website" name="Phone" value="@Model.UserAccount.Phone">
                        </div>
                        <!-- /FORM INPUT -->
                    </div>
                    <!-- /FORM ITEM -->
                </div>
                <!-- /FORM ROW -->
                <!-- FORM ROW -->
                <div class="form-row split">
                    <!-- FORM ITEM -->
                    <div class="form-item">
                        <!-- FORM INPUT DECORATED -->
                        <div class="form-input-decorated">
                            <!-- FORM INPUT -->
                            <div class="form-input small active">
                                <label for="profile-birthday">Birthday</label>
                                <input type="date" id="profile-birthday" name="Birthday" value="@Model.UserAccount.BirthDay?.ToString("yyyy-MM-dd")">
                            </div>
                            <!-- /FORM INPUT -->
                            <!-- FORM INPUT ICON -->
                            <svg class="form-input-icon icon-events">
                                <use xlink:href="#svg-events"></use>
                            </svg>
                            <!-- /FORM INPUT ICON -->
                        </div>
                        <!-- /FORM INPUT DECORATED -->
                    </div>
                    <!-- /FORM ITEM -->
                    <!-- FORM ITEM -->
                    <div class="form-item">
                        <!-- FORM INPUT -->
                        <div class="form-input small active">
                            <label for="profile-name">Wallet</label>
                            <input type="text" id="profile-name" name="LastName" value="@Model.UserAccount.Wallet">
                        </div>
                        <!-- /FORM INPUT -->
                    </div>
                    <!-- /FORM ITEM -->

                </div>
                <!-- /FORM ROW -->
                <!-- FORM ROW -->
                @* <div class="form-row split">
                <!-- FORM ITEM -->
                <div class="form-item">
                <!-- FORM INPUT -->
                <div class="form-input small full">
                <textarea id="profile-description" name="profile_description" placeholder="Write a little description about you..."></textarea>
                </div>
                <!-- /FORM INPUT -->
                </div>
                <!-- /FORM ITEM -->
                </div> *@
                <!-- /FORM ROW -->
                @{
                    var userLogined = await _identityServices.GetUserByNameAsync(User.Identity!.Name!);
                }
                @if (userLogined != null && Model.UserAccount.Id == userLogined.Id)
                {
                    <div class="form-row split">
                        <!-- FORM ITEM -->
                        <div class="form-item">
                            <!-- BUTTON -->
                            <button class="button full primary" type="submit">Lưu thông tin</button>
                            <!-- /BUTTON -->
                        </div>
                        <!-- /FORM ITEM -->
                    </div>
                }

            </form>
            <!-- /FORM -->
        </div>
        <!-- WIDGET BOX CONTENT -->
    </div>
</div>
<div class="grid grid-3-3-3-3 centered">
    <!-- PRODUCT PREVIEW -->
    <div class="product-preview">
        <!-- PRODUCT PREVIEW IMAGE -->
        <a href="#">
            <figure class="product-preview-image liquid" style="background: url(&quot;img/marketplace/items/01.jpg&quot;) center center / cover no-repeat;">
                <img src="img/marketplace/items/01.jpg" alt="item-01" style="display: none;">
            </figure>
        </a>
        <!-- /PRODUCT PREVIEW IMAGE -->
        <!-- PRODUCT PREVIEW INFO -->
        <div class="product-preview-info">
            <!-- TEXT STICKER -->
            <p class="text-sticker">Free</p>
            <!-- /TEXT STICKER -->
            <!-- PRODUCT PREVIEW TITLE -->
            <p class="product-preview-title"><a href="#">Freemium Pack</a></p>
            <!-- /PRODUCT PREVIEW TITLE -->
            <!-- PRODUCT PREVIEW CATEGORY -->
            <p class="product-preview-category digital"><a href="#">Account</a></p>
            <!-- /PRODUCT PREVIEW CATEGORY -->
            <!-- PRODUCT PREVIEW TEXT -->
            <ul class="bullet-item-list" style="margin-top:32px;">
                <!-- BULLET ITEM -->
                <li class="bullet-item">
                    <!-- BULLET ITEM ICON -->
                    <svg class="bullet-item-icon icon-check">
                        <use xlink:href="#svg-check"></use>
                    </svg>
                    <!-- /BULLET ITEM ICON -->
                    <!-- BULLET ITEM TEXT -->
                    <p class="bullet-item-text">Được đăng tối đa 3 bài viết</p>
                    <!-- /BULLET ITEM TEXT -->
                </li>
                <!-- /BULLET ITEM -->
                <!-- BULLET ITEM -->
                <li class="bullet-item">
                    <!-- BULLET ITEM ICON -->
                    <svg class="bullet-item-icon icon-check">
                        <use xlink:href="#svg-check"></use>
                    </svg>
                    <!-- /BULLET ITEM ICON -->
                    <!-- BULLET ITEM TEXT -->
                    <p class="bullet-item-text">Xem và tương tác với bài viết, bình luận</p>
                    <!-- /BULLET ITEM TEXT -->
                </li>
                <!-- /BULLET ITEM -->
                <!-- BULLET ITEM -->
                <li class="bullet-item">
                    <!-- BULLET ITEM ICON -->
                    <svg class="bullet-item-icon icon-check">
                        <use xlink:href="#svg-check"></use>
                    </svg>
                    <!-- /BULLET ITEM ICON -->
                    <!-- BULLET ITEM TEXT -->
                    <p class="bullet-item-text">Xem thông tin nhà tâm lý, người dùng khác</p>
                    <!-- /BULLET ITEM TEXT -->
                </li>
                <!-- /BULLET ITEM -->
            </ul>
            <!-- /PRODUCT PREVIEW TEXT -->
        </div>
        <!-- /PRODUCT PREVIEW INFO -->
        <!-- PRODUCT PREVIEW META -->
        @{
            if (userLogined.IsPremium == ZAlpha.Domain.Enums.PremiumStatus.UnActive)
            {
                <div class="product-preview-meta" style="text-align:center;justify-content:center;align-items:center">
                    <a class="secondary" href="#" target="_blank" style="padding:0px 10px 0px 10px;">Đang ở gói này</a>
                    <!-- /RATING LIST -->
                </div>
            } else
            {
                <div class="product-preview-meta" style="text-align:center;justify-content:center;align-items:center">
                    <a class="button secondary" href="#" target="_blank" style="padding:0px 10px 0px 10px;">Nâng cấp ngay</a>
                    <!-- /RATING LIST -->
                </div>
            }

        }
        
        <!-- /PRODUCT PREVIEW META -->
    </div>
    <!-- /PRODUCT PREVIEW -->
    <!-- PRODUCT PREVIEW -->
    <div class="product-preview">
        <!-- PRODUCT PREVIEW IMAGE -->
        <a href="#">
            <figure class="product-preview-image liquid" style="background: url(&quot;img/marketplace/items/02.jpg&quot;) center center / cover no-repeat;">
                <img src="img/marketplace/items/02.jpg" alt="item-02" style="display: none;">
            </figure>
        </a>
        <!-- /PRODUCT PREVIEW IMAGE -->
        <!-- PRODUCT PREVIEW INFO -->
        <div class="product-preview-info">
            <!-- TEXT STICKER -->
            <p class="text-sticker">1.000 <span class="highlighted">đ</span></p>
            <!-- /TEXT STICKER -->
            <!-- PRODUCT PREVIEW TITLE -->
            <p class="product-preview-title"><a href="#">Premium Pack</a></p>
            <!-- /PRODUCT PREVIEW TITLE -->
            <!-- PRODUCT PREVIEW CATEGORY -->
            <p class="product-preview-category physical"><a href="marketplace-category.html">Account</a></p>
            <!-- /PRODUCT PREVIEW CATEGORY -->
            <!-- PRODUCT PREVIEW TEXT -->
            <ul class="bullet-item-list" style="margin-top:32px;">
                <!-- BULLET ITEM -->
                <li class="bullet-item">
                    <!-- BULLET ITEM ICON -->
                    <svg class="bullet-item-icon icon-check">
                        <use xlink:href="#svg-check"></use>
                    </svg>
                    <!-- /BULLET ITEM ICON -->
                    <!-- BULLET ITEM TEXT -->
                    <p class="bullet-item-text">Đăng bài viết không giới hạn</p>
                    <!-- /BULLET ITEM TEXT -->
                </li>
                <!-- /BULLET ITEM -->
                <!-- BULLET ITEM -->
                <li class="bullet-item">
                    <!-- BULLET ITEM ICON -->
                    <svg class="bullet-item-icon icon-check">
                        <use xlink:href="#svg-check"></use>
                    </svg>
                    <!-- /BULLET ITEM ICON -->
                    <!-- BULLET ITEM TEXT -->
                    <p class="bullet-item-text">Xem và tương tác với bài viết, bình luận</p>
                    <!-- /BULLET ITEM TEXT -->
                </li>
                <!-- /BULLET ITEM -->
                <!-- BULLET ITEM -->
                <li class="bullet-item">
                    <!-- BULLET ITEM ICON -->
                    <svg class="bullet-item-icon icon-check">
                        <use xlink:href="#svg-check"></use>
                    </svg>
                    <!-- /BULLET ITEM ICON -->
                    <!-- BULLET ITEM TEXT -->
                    <p class="bullet-item-text">Xem thông tin chi tiết nhà tâm lý</p>
                    <!-- /BULLET ITEM TEXT -->
                </li>
                <!-- /BULLET ITEM -->
                <!-- BULLET ITEM -->
                <li class="bullet-item">
                    <!-- BULLET ITEM ICON -->
                    <svg class="bullet-item-icon icon-check">
                        <use xlink:href="#svg-check"></use>
                    </svg>
                    <!-- /BULLET ITEM ICON -->
                    <!-- BULLET ITEM TEXT -->
                    <p class="bullet-item-text">Nhận thông báo khi có tương tác mới</p>
                    <!-- /BULLET ITEM TEXT -->
                </li>
                <!-- /BULLET ITEM -->
                <!-- BULLET ITEM -->
                <li class="bullet-item">
                    <!-- BULLET ITEM ICON -->
                    <svg class="bullet-item-icon icon-check">
                        <use xlink:href="#svg-check"></use>
                    </svg>
                    <!-- /BULLET ITEM ICON -->
                    <!-- BULLET ITEM TEXT -->
                    <p class="bullet-item-text">Có chức năng nhắn tin với nhà tâm lý, người dùng khác</p>
                    <!-- /BULLET ITEM TEXT -->
                </li>
                <!-- /BULLET ITEM -->
            </ul>
            <!-- /PRODUCT PREVIEW TEXT -->
        </div>
        <!-- /PRODUCT PREVIEW INFO -->
        <!-- PRODUCT PREVIEW META -->
        @if (userLogined.IsPremium == ZAlpha.Domain.Enums.PremiumStatus.UnActive)
        {
            <div class="product-preview-meta" style="text-align:center;justify-content:center;align-items:center">
                <a class="button secondary" href="/Upgrade" target="_blank" style="padding:0px 10px 0px 10px;">Nâng cấp ngay</a>
            </div>
        } else {
            <div class="product-preview-meta" style="text-align:center;justify-content:center;align-items:center">
                <a class="secondary" href="/Upgrade" target="_blank" style="padding:0px 10px 0px 10px;">Đang ở gói này</a>
            </div>
        }
        
        <!-- /PRODUCT PREVIEW META -->
    </div>
    <!-- /PRODUCT PREVIEW -->
</div>

