@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Transaction";
    Layout = "~/Views/Shared/Customer_Layout.cshtml";
}
@using ZAlpha.Application.Common.Models;
@using ZAlpha.Application.Transaction.Queries.GetTransaction;
@using ZAlpha.Application.Utils.FormatDate;
@using Microsoft.AspNetCore.Mvc;
@{
    PaginatedList<TransactionModel> transactionList = ViewBag.transactionList;
}
<body>
    <!-- SECTION NAVIGATION -->
    <nav class="section-navigation">
        <!-- SECTION MENU -->
        <div class="tns-outer" id="section-navigation-slider-ow">
            <div class="tns-liveregion tns-visually-hidden" aria-live="polite" aria-atomic="true">slide <span class="current">1 to 6</span>  of 11</div><div id="section-navigation-slider-mw" class="tns-ovh">
                <div class="tns-inner" id="section-navigation-slider-iw">
                    <div class="tns-outer" id="section-navigation-slider-ow">
                        <div class="tns-liveregion tns-visually-hidden" aria-live="polite" aria-atomic="true">slide <span class="current">1 to 6</span>  of 6</div><div id="section-navigation-slider-mw" class="tns-ovh">
                            <div class="tns-inner" id="section-navigation-slider-iw">
                                <div id="section-navigation-slider" class="section-menu  tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal  tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal" style="transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
                                    <!-- SECTION MENU ITEM -->
                                    <a class="section-menu-item tns-item tns-slide-active" href="/Customer/Index/" id="section-navigation-slider-item0">
                                        <!-- SECTION MENU ITEM ICON -->
                                        <svg class="section-menu-item-icon icon-profile">
                                            <use xlink:href="#svg-profile"></use>
                                        </svg>
                                        <!-- /SECTION MENU ITEM ICON -->
                                        <!-- SECTION MENU ITEM TEXT -->
                                        <p class="section-menu-item-text">Thông tin</p>
                                        <!-- /SECTION MENU ITEM TEXT -->
                                    </a>
                                    <!-- /SECTION MENU ITEM -->
                                    <!-- SECTION MENU ITEM -->
                                    <a class="section-menu-item tns-item tns-slide-active" href="/Customer/PostList/" id="section-navigation-slider-item1">
                                        <!-- SECTION MENU ITEM ICON -->
                                        <svg class="section-menu-item-icon icon-timeline">
                                            <use xlink:href="#svg-timeline"></use>
                                        </svg>
                                        <!-- /SECTION MENU ITEM ICON -->
                                        <!-- SECTION MENU ITEM TEXT -->
                                        <p class="section-menu-item-text">Bài viết của bạn</p>
                                        <!-- /SECTION MENU ITEM TEXT -->
                                    </a>
                                    <!-- /SECTION MENU ITEM -->
                                    <!-- SECTION MENU ITEM -->
                                    <a class="section-menu-item tns-item tns-slide-active" href="/Customer/PostSaved/" id="section-navigation-slider-item2">
                                        <!-- SECTION MENU ITEM ICON -->
                                        <svg class="section-menu-item-icon icon-pinned">
                                            <use xlink:href="#svg-pinned"></use>
                                        </svg>
                                        <!-- /SECTION MENU ITEM ICON -->
                                        <!-- SECTION MENU ITEM TEXT -->
                                        <p class="section-menu-item-text">Bài viết đã lưu</p>
                                        <!-- /SECTION MENU ITEM TEXT -->
                                    </a>
                                    <!-- /SECTION MENU ITEM -->
                                    <!-- SECTION MENU ITEM -->
                                    <a class="section-menu-item tns-item tns-slide-active" href="#" id="section-navigation-slider-item2">
                                        <!-- SECTION MENU ITEM ICON -->
                                        <svg class="section-menu-item-icon icon-friend">
                                            <use xlink:href="#svg-friend"></use>
                                        </svg>
                                        <!-- /SECTION MENU ITEM ICON -->
                                        <!-- SECTION MENU ITEM TEXT -->
                                        <p class="section-menu-item-text">Bạn bè</p>
                                        <!-- /SECTION MENU ITEM TEXT -->
                                    </a>
                                    <!-- /SECTION MENU ITEM -->
                                    <!-- SECTION MENU ITEM -->
                                    <a class="section-menu-item active tns-item tns-slide-active" href="/Customer/Transaction/" id="section-navigation-slider-item2">
                                        <!-- SECTION MENU ITEM ICON -->
                                        <svg class="section-menu-item-icon icon-friend">
                                            <use xlink:href="#svg-blog-posts"></use>
                                        </svg>
                                        <!-- /SECTION MENU ITEM ICON -->
                                        <!-- SECTION MENU ITEM TEXT -->
                                        <p class="section-menu-item-text">Giao dịch</p>
                                        <!-- /SECTION MENU ITEM TEXT -->
                                    </a>
                                    <!-- /SECTION MENU ITEM -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /SECTION MENU -->
        <!-- SLIDER CONTROLS -->
        <div id="section-navigation-slider-controls" class="slider-controls" aria-label="Carousel Navigation" tabindex="0" style="">
            <!-- SLIDER CONTROL -->
            <div class="slider-control left" aria-controls="section-navigation-slider" tabindex="-1" data-controls="prev" aria-disabled="true">
                <!-- SLIDER CONTROL ICON -->
                <svg class="slider-control-icon icon-small-arrow">
                    <use xlink:href="#svg-small-arrow"></use>
                </svg>
                <!-- /SLIDER CONTROL ICON -->
            </div>
            <!-- /SLIDER CONTROL -->
            <!-- SLIDER CONTROL -->
            <div class="slider-control right" aria-controls="section-navigation-slider" tabindex="-1" data-controls="next">
                <!-- SLIDER CONTROL ICON -->
                <svg class="slider-control-icon icon-small-arrow">
                    <use xlink:href="#svg-small-arrow"></use>
                </svg>
                <!-- /SLIDER CONTROL ICON -->
            </div>
            <!-- /SLIDER CONTROL -->
        </div>
        <!-- /SLIDER CONTROLS -->
    </nav>
    <!-- /SECTION NAVIGATION -->

    <div class="grid-column">
        <div class="widget-box">
            <!-- WIDGET BOX TITLE -->
            <p class="widget-box-title">Lịch sử giao dịch</p>
            <!-- /WIDGET BOX TITLE -->
            <!-- WIDGET BOX CONTENT -->
            <div class="widget-box-content">
                <!-- TABLE WRAP -->
                <div class="table-wrap" data-simplebar="init">
                    <div class="simplebar-wrapper" style="margin: 0px;">
                        <div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask">
                            <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                                <div class="simplebar-content-wrapper" style="height: auto; overflow: hidden;">
                                    <div class="simplebar-content" style="padding: 0px;">
                                        <!-- TABLE -->
                                        <div class="table table-payments join-rows">
                                            <!-- TABLE HEADER -->
                                            <div class="table-header">
                                                <!-- TABLE HEADER COLUMN -->
                                                <div class="table-header-column">
                                                    <!-- TABLE HEADER TITLE -->
                                                        <p class="table-header-title">Ngày giao dịch</p>
                                                    <!-- /TABLE HEADER TITLE -->
                                                </div>
                                                <!-- /TABLE HEADER COLUMN -->
                                                <!-- TABLE HEADER COLUMN -->
                                                <div class="table-header-column padded">
                                                    <!-- TABLE HEADER TITLE -->
                                                    <p class="table-header-title">Phương thức thanh toán</p>
                                                    <!-- /TABLE HEADER TITLE -->
                                                </div>
                                                <!-- /TABLE HEADER COLUMN -->                                        
                                                <!-- TABLE HEADER COLUMN -->
                                                <div class="table-header-column centered padded">
                                                    <!-- TABLE HEADER TITLE -->
                                                    <p class="table-header-title">Số tiền</p>
                                                    <!-- /TABLE HEADER TITLE -->
                                                </div>
                                                <!-- /TABLE HEADER COLUMN -->
                                                <!-- TABLE HEADER COLUMN -->
                                                <div class="table-header-column centered padded">
                                                    <!-- TABLE HEADER TITLE -->
                                                    <p class="table-header-title">Phí giao dịch</p>
                                                    <!-- /TABLE HEADER TITLE -->
                                                </div>
                                                <!-- /TABLE HEADER COLUMN -->
                                                <!-- TABLE HEADER COLUMN -->
                                                <div class="table-header-column centered padded">
                                                    <!-- TABLE HEADER TITLE -->
                                                    <p class="table-header-title">Số dư</p>
                                                    <!-- /TABLE HEADER TITLE -->
                                                </div>
                                                <div class="table-header-column centered padded">
                                                    <!-- TABLE HEADER TITLE -->
                                                    <p class="table-header-title">Trạng thái</p>
                                                    <!-- /TABLE HEADER TITLE -->
                                                </div>
                                                <!-- /TABLE HEADER COLUMN -->
                                                <!-- TABLE HEADER COLUMN -->
                                                <div class="table-header-column centered padded">
                                                    <!-- TABLE HEADER TITLE -->
                                                    <p class="table-header-title"></p>
                                                    <!-- /TABLE HEADER TITLE -->
                                                </div>
                                                <!-- /TABLE HEADER COLUMN -->
                                            </div>
                                            <!-- /TABLE HEADER -->
                                            <!-- TABLE BODY -->
                                            <div class="table-body">
                                                <!-- TABLE ROW -->
                                                @foreach (var item in transactionList.Items)
                                                {
                                                    <div class="table-row micro">
                                                        <!-- TABLE COLUMN -->
                                                        <div class="table-column">
                                                            <!-- TABLE TEXT -->
                                                            <p class="table-text"><span class="light">@item.Created</span></p>
                                                            <!-- /TABLE TEXT -->
                                                        </div>
                                                        <!-- /TABLE COLUMN -->
                                                        <!-- TABLE COLUMN -->
                                                        <div class="table-column padded">
                                                            <!-- TABLE TITLE -->
                                                            <p class="table-title">@item.PaymentMethod.PaymentMethodName</p>
                                                            <!-- /TABLE TITLE -->
                                                        </div>
                                                        <!-- /TABLE COLUMN -->
                                                        <!-- TABLE COLUMN -->
                                                        <div class="table-column centered padded">
                                                            <!-- TABLE TITLE -->
                                                            <p class="table-title">@item.Money</p>
                                                            <!-- /TABLE TITLE -->
                                                        </div>
                                                        <!-- /TABLE COLUMN -->
                                                        <!-- TABLE COLUMN -->
                                                        <div class="table-column centered padded">
                                                            <!-- TABLE TITLE -->
                                                            <p class="table-title">@item.TransactionFee</p>
                                                            <!-- /TABLE TITLE -->
                                                        </div>
                                                        <!-- /TABLE COLUMN -->
                                                        <!-- TABLE COLUMN -->
                                                        <div class="table-column centered padded">
                                                            <!-- TABLE TEXT -->
                                                            <p class="table-text"><span class="light">@item.Balance</span></p>
                                                            <!-- /TABLE TEXT -->
                                                        </div>
                                                        <div class="table-column centered padded">
                                                            <!-- TABLE TEXT -->
                                                            @if (item.Status == ZAlpha.Domain.Enums.TransactionStatus.CANCELED)
                                                            {
                                                                <p class="table-text"><span style="color: red">@item.Status</span></p>
                                                            }
                                                            else if (item.Status == ZAlpha.Domain.Enums.TransactionStatus.COMPLETED)
                                                            {
                                                                <p class="table-text"><span style="color: green">@item.Status</span></p>
                                                            }
                                                            else if (item.Status == ZAlpha.Domain.Enums.TransactionStatus.PENDING)
                                                            {
                                                                <p class="table-text"><span style="color: yellow">@item.Status</span></p>
                                                            }
                                                            else if (item.Status == ZAlpha.Domain.Enums.TransactionStatus.FAILED)
                                                            {
                                                                <p class="table-text"><span style="color: orange">@item.Status</span></p>
                                                            }
                                                            <!-- /TABLE TEXT -->
                                                        </div>
                                                        <!-- /TABLE COLUMN -->
                                                        <!-- TABLE COLUMN -->
                                                        <div class="table-column centered padded">
                                                            <!-- TABLE TEXT -->
                                                            <p class="table-text"><a class="light" href="#">Xem chi tiết</a></p>
                                                            <!-- /TABLE TEXT -->
                                                        </div>
                                                        <!-- /TABLE COLUMN -->
                                                    </div>
                                                }
                                                <!-- /TABLE ROW -->
                                            </div>
                                            <!-- /TABLE BODY -->
                                        </div>
                                        <!-- /TABLE -->
                                    </div>
                                </div>
                            </div>
                        </div><div class="simplebar-placeholder" style="width: auto; height: 351px;"></div>
                    </div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: hidden;"><div class="simplebar-scrollbar" style="height: 0px; display: none;"></div></div>
                </div>
                <!-- /TABLE WRAP -->
            </div>
            <!-- WIDGET BOX CONTENT -->
        </div>
    </div>
</body>