@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Tag Database";
    Layout = "~/Views/Admin/Shared/Layout.cshtml";
}
@using ZAlpha.Application.Common.Models;
@using ZAlpha.Application.Tag.Queries.GetTag;
@model ZAlpha.Application.Common.Models.PaginatedList<TagModel>
<!-- Conflict thu vien voi admin layout  -->
<script src="~/assets/jquery-3.7.1/jquery-3.7.1.min.js"></script>

<body>
    <!-- Page wrapper  -->
    <div class="page-wrapper">
        <!-- Bread crumb -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-primary">Danh sách thẻ (tag)</h3>
            </div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="~/Admin/Index">Admin</a></li>
                    <li class="breadcrumb-item active">Danh sách thẻ (tag)</li>
                </ol>
            </div>
        </div>
        <!-- End Bread crumb -->

        <!-- Container fluid  -->
        <div class="container-fluid">
            <!-- Start Page Content -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body" style="margin-top:-40px">                      
                            <div class="table-responsive m-t-40">
                                <div>
                                    <button class="btn btn-primary" onclick="openFormCreate()">Create</button>
                                </div>
                                <table id="myTable" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Tên thẻ</th>
                                            <th>Ngày tạo</th>
                                            <th>Ngày sửa đổi gần nhất</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Items)
                                        {
                                            <tr>
                                                <td>@item.TagName</td>
                                                <td>@item.Created</td>
                                                <td>@item.LastModified</td>
                                                <td>
                                                    <button value="@item.Id" type="button" id="btn_update_tag_@item.Id" onclick="openFormUpdate()" class="btn btn-success">Update</button>
                                                    <button value="@item.Id" type="submit" id="btn_delete_tag_@item.Id" onclick="openFormDelete()" class="btn btn-danger">Delete</button>
                                                </td>
                                            </tr>


                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End PAge Content -->
        </div>
        <!-- End Container fluid  -->
    </div>

    <!-- Create pop up  -->
    <div class="form-popup" style="
        position: fixed;
        width: 20%;
        height: 20%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;"
         id="createForm">
        <div class="card card-outline-primary">
            <div class="card-header">
                <h4 class="m-b-0 text-white">Tạo thẻ</h4>
            </div>
            <div class="card-body">
                <form action="~/Admin/CreateTag" method="post">
                    <div class="form-body">
                        <div class="row p-t-20">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" id="firstName" name="TagName" class="form-control" placeholder="Tên thẻ">
                                </div>
                            </div>
                        </div>                  
                    </div>
                    <div class="form-actions" style="float:right">
                        <button type="submit" class="btn btn-success" id="btn_submit_update_tag"><i class="fa fa-check"></i> Tạo mới </button>
                        <button type="button" class="btn btn-inverse" onclick="closeFormCreate()"> Huỷ </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Create pop up end -->

    <!-- Update pop up  -->
    <div class="form-popup" style="
        position: fixed;
        width: 20%;
        height: 20%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;"
         id="updateForm">
        <div class="card card-outline-primary">
            <div class="card-header">
                <h4 class="m-b-0 text-white">Sửa thẻ</h4>
            </div>
            <div class="card-body">
                <form action="#">
                    <div class="form-body">
                        <div class="row p-t-20">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" id="tag_id" name="TagName" class="form-control" placeholder="Sửa tên thẻ">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-success" id="btn_submit_update_tag"><i class="fa fa-check"></i> Lưu </button>
                        <h5 hidden id="dialog_hidden_tag_id"></h5>
                        <button type="button" class="btn btn-inverse" onclick="closeFormUpdate()"> Huỷ </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Update pop up end -->

    <!-- Delete pop up  -->
    <div class="form-popup" style="
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;"
         id="deleteForm">
        <div class="card">
            <div class="card-body" style="margin: 1rem"> You Want to Delete This </div>
            <div style="display:inline-block; vertical-align: bottom; text-align: center;">
                <button type="button" class="btn btn-default btn-rounded m-b-10" onclick="closeFormDelete()">Close</button>
                <h5 hidden id="dialog_hidden_tag_id"></h5>
                <button type="submit" id="btn_submit_delete_tag" class="btn btn-danger btn-rounded m-b-10 m-l-5">Delete</button>
            </div>
        </div>
    </div>
    <!-- Delete pop up end -->

    <!-- End Page wrapper  -->
</body>

<!-- Update, Delete form -->
<script>
    // Create
    function openFormCreate() {
        document.getElementById("createForm").style.display = "block";
    }

    function closeFormCreate() {
        document.getElementById("createForm").style.display = "none";
    }

    // Update
    function openFormUpdate() {
        document.getElementById("updateForm").style.display = "block";
        $("#dialog_hidden_tag_id").text(tag_id);
    }

    function closeFormUpdate() {
        document.getElementById("updateForm").style.display = "none";
    }

    // Delete
    function openFormDelete(tag_id) {
        document.getElementById("deleteForm").style.display = "block";
        $("#dialog_hidden_tag_id").text(tag_id);
    }

    function closeFormDelete() {
        document.getElementById("deleteForm").style.display = "none";
    }
</script>

<script>
    // Update Comment
    $(document).ready(function () {
        $("button[id^='btn_update_tag_']").click(function () {
            var tag_id = $(this).attr("id").split("_")[3];
            handle_confirm_update_comment_dialog(tag_id);
        });
        $("#btn_submit_update_tag").click(function () {
            var tag_id = $("#dialog_hidden_tag_id").text();
            update_comment(tag_id);
        });
    });

    function handle_confirm_update_comment_dialog(tag_id) {
        openFormUpdate(tag_id);
    }
    function update_comment(tag_id) {
        var data = {
            tagId: tag_id,
        };
        $.ajax({
            type: "POST",
            cache: false,
            url: "/Admin/UpdateTag",
            data: data,
            success: function (data) {
                setTimeout(function () {
                    window.location.href = "/Admin/TagDatatable";
                }, 1000);
                alert(data);
            }
        });
    }

    // Delete Comment
    $(document).ready(function () {
        $("button[id^='btn_delete_tag_']").click(function () {
            var tag_id = $(this).attr("id").split("_")[3];
            handle_confirm_delete_comment_dialog(tag_id);
        });
        $("#btn_submit_delete_tag").click(function () {
            var tag_id = $("#dialog_hidden_tag_id").text();
            delete_comment(tag_id);
        });
    });
    function handle_confirm_delete_comment_dialog(tag_id) {
        openFormDelete(tag_id);
    }
    function delete_comment(tag_id) {
        var data = {
            tagId: tag_id,
        };
        $.ajax({
            type: "POST",
            cache: false,
            url: "/Admin/DeleteTag",
            data: data,
            success: function (data) {
                setTimeout(function () {
                    window.location.href = "/Admin/TagDatatable";
                }, 1000);
                alert(data);
            }
        });
    }
</script>
<!-- End Script Update, Delete Form -->