@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Customer Database";
    Layout = "~/Views/Admin/Shared/Layout.cshtml";
}
@using ZAlpha.Application.Common.Models;
@using ZAlpha.Application.Comment.Queries.GetComment;
@model ZAlpha.Application.Common.Models.PaginatedList<CommentModel>
<!-- Conflict thu vien voi admin layout  -->
<script src="~/assets/jquery-3.7.1/jquery-3.7.1.min.js"></script>


<body>
    <!-- Page wrapper  -->
    <div class="page-wrapper">
        <!-- Bread crumb -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="tex-primary">Danh sách người dùng</h3>
            </div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="~/Admin/Index">Admin</a></li>
                    <li class="breadcrumb-item active">Danh sách người dùng thông thường</li>
                </ol>
            </div>
        </div>
        <!-- End Bread crumb -->
        <!-- Container fluid  -->
        <div class="container-fluid">
            <!-- Start Page Content -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body" style="margin-top:-60px">
                            <div class="table-responsive m-t-40">
                                <table id="myTable" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Nội Dung</th>
                                            <th>Người Đăng</th>
                                            <th>trạng thái</th>
                                            <th>Ngày Bình Luận</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Items)
                                        {
                                            @if (@item.InteractWithComments.Count > 0 && item.InteractWithComments[0].IsDeleted == false)
                                            {
                                                <tr>
                                                    <td width="400px">@item.Description</td>
                                                    <td>
                                                        @if (@item.InteractWithComments[0].UserAccount != null)
                                                        {
                                                            @item.InteractWithComments[0].UserAccount.FirstName @item.InteractWithComments[0].UserAccount.LastName
                                                        }
                                                    </td>
                                                    <td></td>
                                                    <td>@item.Created</td>
                                                    <td style="text-align: center; vertical-align: middle">
                                                        <button value="@item.Id" type="button" id="btn_update_comment_@item.Id" class="btn btn-success btn-rounded m-b-10 m-l-5">Update</button>
                                                    </td>
                                                    <td style="text-align: center; vertical-align: middle">
                                                        <button value="@item.Id" type="submit" id="btn_delete_comment_@item.Id" class="btn btn-danger btn-rounded m-b-10 m-l-5">Delete</button>
                                                    </td>

                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End PAge Content -->
        </div>
        <!-- End Container fluid  -->
    </div>

    <!-- Create/Update pop up  -->
    <div class="form-popup" style="
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;"
         id="updateForm">
        <div class="card card-outline-primary">
            <div class="card-header">
                <h4 class="m-b-0 text-white">Sample form</h4>
            </div>
            <div class="card-body">
                <form action="#">
                    <div class="form-body">
                        <h3 class="card-title m-t-15">Person Info</h3>
                        <hr>
                        <div class="row p-t-20">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">First Name</label>
                                    <input type="text" id="firstName" class="form-control" placeholder="John doe">
                                    <small class="form-control-feedback"> This is inline help </small>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group has-danger">
                                    <label class="control-label">Last Name</label>
                                    <input type="text" id="lastName" class="form-control form-control-danger" placeholder="12n">
                                    <small class="form-control-feedback"> This field has error. </small>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group has-success">
                                    <label class="control-label">Gender</label>
                                    <select class="form-control custom-select">
                                        <option value="">Male</option>
                                        <option value="">Female</option>
                                    </select>
                                    <small class="form-control-feedback"> Select your gender </small>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Date of Birth</label>
                                    <input type="date" class="form-control" placeholder="dd/mm/yyyy">
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Category</label>
                                    <select class="form-control custom-select" data-placeholder="Choose a Category" tabindex="1">
                                        <option value="Category 1">Category 1</option>
                                        <option value="Category 2">Category 2</option>
                                        <option value="Category 3">Category 5</option>
                                        <option value="Category 4">Category 4</option>
                                    </select>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Membership</label>
                                    <div class="form-check">
                                        <label class="custom-control custom-radio">
                                            <input id="radio1" name="radio" type="radio" checked="" class="custom-control-input">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Free</span>
                                        </label>
                                        <label class="custom-control custom-radio">
                                            <input id="radio2" name="radio" type="radio" class="custom-control-input">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Paid</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <h3 class="box-title m-t-40">Address</h3>
                        <hr>
                        <div class="row">
                            <div class="col-md-12 ">
                                <div class="form-group">
                                    <label>Street</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>City</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>State</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Post Code</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Country</label>
                                    <select class="form-control custom-select">
                                        <option>--Select your Country--</option>
                                        <option>India</option>
                                        <option>Sri Lanka</option>
                                        <option>USA</option>
                                    </select>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-success" id="btn_submit_update_comment"><i class="fa fa-check"></i> Save</button>
                        <h5 hidden id="dialog_hidden_comment_id"></h5>
                        <button type="button" class="btn btn-inverse" onclick="closeFormUpdate()">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Create/Update pop up end -->

    <!-- Delete pop up  -->
    <div class="form-popup" style="
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;"
         id="deleteForm">
        <div class="card">
            <div class="card-body" style="margin: 1rem"> You Want to Delete This </div>
            <div style="display:inline-block; vertical-align: bottom; text-align: center;">
                <button type="button" class="btn btn-default btn-rounded m-b-10" onclick="closeFormDelete()">Close</button>
                <h5 hidden id="dialog_hidden_comment_id"></h5>
                <button type="submit" id="btn_submit_delete_comment" class="btn btn-danger btn-rounded m-b-10 m-l-5" >Delete</button>
            </div>
        </div>
    </div>
    <!-- Delete pop up end -->

    <!-- End Page wrapper  -->
</body>

<!-- Update, Delete form -->
<script>
    function openFormDelete(comment_id) {
        document.getElementById("deleteForm").style.display = "block";
        $("#dialog_hidden_comment_id").text(comment_id);
    }

    function closeFormDelete() {
        document.getElementById("deleteForm").style.display = "none";
    }

    function openFormUpdate() {
        document.getElementById("updateForm").style.display = "block";
        $("#dialog_hidden_comment_id").text(comment_id);
    }

    function closeFormUpdate() {
        document.getElementById("updateForm").style.display = "none";
    }
</script>

<script>
    $(document).ready(function () {
        $("button[id^='btn_delete_comment_']").click(function () {
            var comment_id = $(this).attr("id").split("_")[3];
            handle_confirm_delete_comment_dialog(comment_id);
        });
        $("#btn_submit_delete_comment").click(function () {
            var comment_id = $("#dialog_hidden_comment_id").text();
            delete_comment(comment_id);
        });
    });
    $(document).ready(function () {
        $("button[id^='btn_update_comment_']").click(function () {
            var comment_id = $(this).attr("id").split("_")[3];
            handle_confirm_update_comment_dialog(comment_id);
        });
        $("#btn_submit_update_comment").click(function () {
            var comment_id = $("#dialog_hidden_comment_id").text();
            update_comment(comment_id);
        });
    });
    
    function handle_confirm_delete_comment_dialog(comment_id) {
        openFormDelete(comment_id);
    }
    function handle_confirm_update_comment_dialog(comment_id) {
        openFormUpdate(comment_id);
    }
    function delete_comment(comment_id) {
        var data = {
            commentId: comment_id,
        };
        $.ajax({
            type: "POST",
            cache: false,
            url: "/Admin/DeleteComment",
            data: data,   
            success: function (data) {
                setTimeout(function () {
                    window.location.href = "/Admin/CommentDatatable";
                }, 1000);
                alert(data);
            }
        });
    }
    function update_comment(comment_id) {
        var data = {
            commentId: comment_id,
        };
        $.ajax({
            type: "POST",
            cache: false,
            url: "/Admin/UpdateComment",
            data: data,
            success: function (data) {
                setTimeout(function () {
                    window.location.href = "/Admin/CommentDatatable";
                }, 1000);
                alert(data);
            }
        });
    }
</script>
<!-- End Script Update, Delete Form -->
