@using Microsoft.AspNetCore.Identity;
@using ZAlpha.Domain.Identity;
@using ZAlpha.Application.Common.Interfaces;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Ppychologist Info";
    Layout = "~/Views/Shared/Psychologist_Layout.cshtml";
}
@using ZAlpha.Application.Common.Models;
@using ZAlpha.Application.PsychologistAccount.Queries.GetAllPsychologistAccount;
@inject IIdentityService _identityServices;


<!-- SECTION NAVIGATION -->
<nav class="section-navigation">
    <!-- SECTION MENU -->
    <div class="tns-outer" id="section-navigation-slider-ow">
        <div class="tns-liveregion tns-visually-hidden" aria-live="polite" aria-atomic="true">slide <span class="current">1 to 6</span>  of 11</div><div id="section-navigation-slider-mw" class="tns-ovh">
            <div class="tns-inner" id="section-navigation-slider-iw">
                <div class="tns-outer" id="section-navigation-slider-ow">
                    <div class="tns-liveregion tns-visually-hidden" aria-live="polite" aria-atomic="true">slide <span class="current">1 to 6</span>  of 6</div><div id="section-navigation-slider-mw" class="tns-ovh">
                        <div class="tns-inner" id="section-navigation-slider-iw">
                            <div id="section-navigation-slider" class="section-menu  tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal  tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal" style="transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
                                <!-- SECTION MENU ITEM -->
                                <a class="section-menu-item active tns-item tns-slide-active" href="/Psychologist/Index/" id="section-navigation-slider-item0">
                                    <!-- SECTION MENU ITEM ICON -->
                                    <svg class="section-menu-item-icon icon-profile">
                                        <use xlink:href="#svg-profile"></use>
                                    </svg>
                                    <!-- /SECTION MENU ITEM ICON -->
                                    <!-- SECTION MENU ITEM TEXT -->
                                    <p class="section-menu-item-text">Thông tin</p>
                                    <!-- /SECTION MENU ITEM TEXT -->
                                </a>
                                <!-- /SECTION MENU ITEM -->
                                <!-- SECTION MENU ITEM -->
                                <a class="section-menu-item tns-item tns-slide-active" href="/Psychologist/PostList/" id="section-navigation-slider-item1">
                                    <!-- SECTION MENU ITEM ICON -->
                                    <svg class="section-menu-item-icon icon-timeline">
                                        <use xlink:href="#svg-timeline"></use>
                                    </svg>
                                    <!-- /SECTION MENU ITEM ICON -->
                                    <!-- SECTION MENU ITEM TEXT -->
                                    <p class="section-menu-item-text">Bài viết của bạn</p>
                                    <!-- /SECTION MENU ITEM TEXT -->
                                </a>
                                <!-- /SECTION MENU ITEM -->
                                <!-- SECTION MENU ITEM -->
                                <a class="section-menu-item tns-item tns-slide-active" href="/Psychologist/PostSaved/" id="section-navigation-slider-item2">
                                    <!-- SECTION MENU ITEM ICON -->
                                    <svg class="section-menu-item-icon icon-pinned">
                                        <use xlink:href="#svg-pinned"></use>
                                    </svg>
                                    <!-- /SECTION MENU ITEM ICON -->
                                    <!-- SECTION MENU ITEM TEXT -->
                                    <p class="section-menu-item-text">Bài viết đã lưu</p>
                                    <!-- /SECTION MENU ITEM TEXT -->
                                </a>
                                <!-- /SECTION MENU ITEM -->
                                <!-- SECTION MENU ITEM -->
                                <a class="section-menu-item tns-item tns-slide-active" href="#" id="section-navigation-slider-item2">
                                    <!-- SECTION MENU ITEM ICON -->
                                    <svg class="section-menu-item-icon icon-friend">
                                        <use xlink:href="#svg-friend"></use>
                                    </svg>
                                    <!-- /SECTION MENU ITEM ICON -->
                                    <!-- SECTION MENU ITEM TEXT -->
                                    <p class="section-menu-item-text">Bạn bè</p>
                                    <!-- /SECTION MENU ITEM TEXT -->
                                </a>
                                <!-- /SECTION MENU ITEM -->
                                <!-- SECTION MENU ITEM -->
                                <a class="section-menu-item tns-item tns-slide-active" href="/Psychologist/Transaction/" id="section-navigation-slider-item2">
                                    <!-- SECTION MENU ITEM ICON -->
                                    <svg class="section-menu-item-icon icon-friend">
                                        <use xlink:href="#svg-blog-posts"></use>
                                    </svg>
                                    <!-- /SECTION MENU ITEM ICON -->
                                    <!-- SECTION MENU ITEM TEXT -->
                                    <p class="section-menu-item-text">Giao dịch</p>
                                    <!-- /SECTION MENU ITEM TEXT -->
                                </a>
                                <!-- /SECTION MENU ITEM -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /SECTION MENU -->
    <!-- SLIDER CONTROLS -->
    <div id="section-navigation-slider-controls" class="slider-controls" aria-label="Carousel Navigation" tabindex="0" style="">
        <!-- SLIDER CONTROL -->
        <div class="slider-control left" aria-controls="section-navigation-slider" tabindex="-1" data-controls="prev" aria-disabled="true">
            <!-- SLIDER CONTROL ICON -->
            <svg class="slider-control-icon icon-small-arrow">
                <use xlink:href="#svg-small-arrow"></use>
            </svg>
            <!-- /SLIDER CONTROL ICON -->
        </div>
        <!-- /SLIDER CONTROL -->
        <!-- SLIDER CONTROL -->
        <div class="slider-control right" aria-controls="section-navigation-slider" tabindex="-1" data-controls="next">
            <!-- SLIDER CONTROL ICON -->
            <svg class="slider-control-icon icon-small-arrow">
                <use xlink:href="#svg-small-arrow"></use>
            </svg>
            <!-- /SLIDER CONTROL ICON -->
        </div>
        <!-- /SLIDER CONTROL -->
    </div>
    <!-- /SLIDER CONTROLS -->
</nav>
<!-- /SECTION NAVIGATION -->

<div class="grid-column">
    <!-- GRID -->
    <!-- /GRID -->
    <!-- WIDGET BOX -->
    <div class="widget-box">
        <!-- WIDGET BOX TITLE -->
        <p class="widget-box-title">Thông tin tài khoản</p>
        <!-- /WIDGET BOX TITLE -->
        <!-- WIDGET BOX CONTENT -->
        <div class="widget-box-content">
            <!-- FORM -->
            <form class="form" action="~/Psychologist/UpdatePsychologistAccount" method="post">

                @{
                    var userLogined = await _identityServices.GetUserByNameAsync(User.Identity!.Name!);
                }
                @if (userLogined != null && Model.UserAccount.Id == userLogined.Id)
                {
                    <!-- FORM ROW -->
                    <div class="form-row split">
                        <!-- FORM ITEM -->
                        <div class="form-item">
                            <!-- FORM INPUT -->
                            <div class="form-input small active">
                                <label for="profile-tagline">Tên tài khoản</label>
                                <input type="hidden" name="Id" value="@Model.Id" />
                                <input type="text" id="profile-tagline" name="profile_tagline" readonly value="@Model.UserAccount.UserName">
                            </div>
                            <!-- /FORM INPUT -->
                        </div>
                        <!-- /FORM ITEM -->
                        <!-- FORM ITEM -->
                        <div class="form-item">
                            <!-- FORM INPUT -->
                            <div class="form-input small active">
                                <label for="profile-name">Email</label>
                                <input type="text" id="profile-name" name="profile_name" readonly value="@Model.UserAccount.Email">
                            </div>
                            <!-- /FORM INPUT -->
                        </div>
                        <!-- /FORM ITEM -->
                    </div>
                    <!-- /FORM ROW -->
                    <!-- FORM ROW -->
                    <div class="form-row split">
                        <!-- FORM ITEM -->
                        <div class="form-item">
                            <!-- FORM INPUT -->
                            <div class="form-input small active">
                                <label for="profile-tagline">Họ</label>
                                <input type="text" id="profile-tagline" name="FirstName" value="@Model.UserAccount.FirstName">
                            </div>
                            <!-- /FORM INPUT -->
                        </div>
                        <!-- /FORM ITEM -->
                        <!-- FORM ITEM -->
                        <div class="form-item">
                            <!-- FORM INPUT -->
                            <div class="form-input small active">
                                <label for="profile-name">Tên</label>
                                <input type="text" id="profile-name" name="LastName" value="@Model.UserAccount.LastName">
                            </div>
                            <!-- /FORM INPUT -->
                        </div>
                        <!-- /FORM ITEM -->
                    </div>
                    <!-- /FORM ROW -->
                    <!-- FORM ROW -->
                    <div class="form-row split">
                        <!-- FORM ITEM -->
                        <div class="form-item">
                            <!-- FORM INPUT -->
                            <div class="form-input small active">
                                <label for="profile-tagline">Địa chỉ</label>
                                <input type="text" id="profile-tagline" name="Address" value="@Model.UserAccount.Address">
                            </div>
                            <!-- /FORM INPUT -->
                        </div>
                        <!-- /FORM ITEM -->
                        <!-- FORM ITEM -->
                        <div class="form-item">
                            <!-- FORM INPUT -->
                            <div class="form-input small active">
                                <label for="profile-name">Số điện thoại</label>
                                <input type="text" id="profile-name" name="Phone" value="@Model.UserAccount.Phone">
                            </div>
                            <!-- /FORM INPUT -->
                        </div>
                        <!-- /FORM ITEM -->
                    </div>
                    <!-- /FORM ROW -->
                    <!-- FORM ROW -->
                    <div class="form-row split">
                        <!-- FORM ITEM -->
                        <div class="form-item">
                            <!-- FORM INPUT -->
                            <div class="form-input small active">
                                <label for="profile-name">Cột mốc</label>
                                <input type="text" id="profile-name" name="Milestones" value="@Model.Milestones">
                            </div>
                            <!-- /FORM INPUT -->
                        </div>
                        <!-- /FORM ITEM -->
                        <!-- FORM ITEM -->
                        <div class="form-item">
                            <!-- FORM INPUT -->
                            <div class="form-input small active">
                                <label for="profile-public-email">Nơi làm việc</label>
                                <input type="text" id="profile-public-email" name="Workplace" value="@Model.Workplace">
                            </div>
                            <!-- /FORM INPUT -->
                            <!-- FORM INPUT -->
                            <div class="form-input small active">
                                <label for="profile-public-website">Vị trí công tác</label>
                                <input type="text" id="profile-public-website" name="Position" value="@Model.Position">
                            </div>
                            <!-- /FORM INPUT -->
                        </div>
                        <!-- /FORM ITEM -->
                    </div>
                    <!-- /FORM ROW -->
                    <!-- FORM ROW -->
                    <div class="form-row split">
                        <!-- FORM ITEM -->
                        <div class="form-item">
                            <!-- FORM INPUT -->
                            <div class="form-input small active">
                                <label for="profile-occupation">Chuyên ngành</label>
                                <input type="text" id="profile-occupation" name="Specialize" value="@Model.Specialize">
                            </div>
                            <!-- /FORM INPUT -->
                        </div>
                        <!-- /FORM ITEM -->
                        <!-- FORM ITEM -->
                        <div class="form-item">
                            <!-- FORM INPUT DECORATED -->
                            <div class="form-input-decorated">
                                <!-- FORM INPUT -->
                                <div class="form-input small active">
                                    <label for="profile-birthday">Ngày sinh</label>
                                    <input type="date" id="profile-birthday" name="Birthday" value="@Model.UserAccount.BirthDay?.ToString("yyyy-MM-dd")">
                                </div>
                                <!-- /FORM INPUT -->
                                <!-- FORM INPUT ICON -->
                                <svg class="form-input-icon icon-events">
                                    <use xlink:href="#svg-events"></use>
                                </svg>
                                <!-- /FORM INPUT ICON -->
                            </div>
                            <!-- /FORM INPUT DECORATED -->
                        </div>
                        <!-- /FORM ITEM -->
                    </div>
                    <!-- /FORM ROW -->
                    <!-- FORM ROW -->
                    <div class="form-row split">
                        <!-- FORM ITEM -->
                        <div class="form-item">
                            <!-- FORM INPUT -->
                            <div class="form-input small active">
                                <label for="profile-name">Giới thiệu về bản thân</label>
                                <input type="text" id="profile-name" name="Intro" value="@Model.Intro">
                            </div>
                            <!-- /FORM INPUT -->
                        </div>
                        <!-- /FORM ITEM -->
                    </div>
                    <!-- /FORM ROW -->
                    <!-- FORM NOW -->
                    <div class="form-row split">
                        <!-- FORM ITEM -->
                        <div class="form-item">
                            <!-- BUTTON -->
                            <button class="button full primary" type="submit">Lưu thông tin</button>
                            <!-- /BUTTON -->
                        </div>
                        <!-- /FORM ITEM -->
                    </div>
                    <!-- /FORM ROW -->
                }
                else
                {
                    <!-- FORM ROW -->
                    <div class="form-row split">
                        <!-- FORM ITEM -->
                        <div class="form-item">
                            <!-- FORM INPUT -->
                            <div class="form-input small active">
                                <label for="profile-tagline">Tên tài khoản</label>
                                <input type="hidden" name="Id" value="@Model.Id" />
                                <input type="text" id="profile-tagline" name="profile_tagline" readonly value="@Model.UserAccount.UserName">
                            </div>
                            <!-- /FORM INPUT -->
                        </div>
                        <!-- /FORM ITEM -->
                        <!-- FORM ITEM -->
                        <div class="form-item">
                            <!-- FORM INPUT -->
                            <div class="form-input small active">
                                <label for="profile-name">Email</label>
                                <input type="text" id="profile-name" name="profile_name" readonly value="@Model.UserAccount.Email">
                            </div>
                            <!-- /FORM INPUT -->
                        </div>
                        <!-- /FORM ITEM -->
                    </div>
                    <!-- /FORM ROW -->
                    <!-- FORM ROW -->
                    <div class="form-row split">
                        <!-- FORM ITEM -->
                        <div class="form-item">
                            <!-- FORM INPUT -->
                            <div class="form-input small active">
                                <label for="profile-tagline">Họ</label>
                                <input type="text" id="profile-tagline" name="FirstName" readonly value="@Model.UserAccount.FirstName">
                            </div>
                            <!-- /FORM INPUT -->
                        </div>
                        <!-- /FORM ITEM -->
                        <!-- FORM ITEM -->
                        <div class="form-item">
                            <!-- FORM INPUT -->
                            <div class="form-input small active">
                                <label for="profile-name">Tên</label>
                                <input type="text" id="profile-name" name="LastName" readonly value="@Model.UserAccount.LastName">
                            </div>
                            <!-- /FORM INPUT -->
                        </div>
                        <!-- /FORM ITEM -->
                    </div>
                    <!-- /FORM ROW -->
                    <!-- FORM ROW -->
                    <div class="form-row split">
                        <!-- FORM ITEM -->
                        <div class="form-item">
                            <!-- FORM INPUT -->
                            <div class="form-input small active">
                                <label for="profile-tagline">Địa chỉ</label>
                                <input type="text" id="profile-tagline" name="Address" readonly value="@Model.UserAccount.Address">
                            </div>
                            <!-- /FORM INPUT -->
                        </div>
                        <!-- /FORM ITEM -->
                        <!-- FORM ITEM -->
                        <div class="form-item">
                            <!-- FORM INPUT -->
                            <div class="form-input small active">
                                <label for="profile-name">Số điện thoại</label>
                                <input type="text" id="profile-name" name="Phone" readonly value="@Model.UserAccount.Phone">
                            </div>
                            <!-- /FORM INPUT -->
                        </div>
                        <!-- /FORM ITEM -->
                    </div>
                    <!-- /FORM ROW -->
                    <!-- FORM ROW -->
                    <div class="form-row split">
                        <!-- FORM ITEM -->
                        <div class="form-item">
                            <!-- FORM INPUT -->
                            <div class="form-input small active">
                                <label for="profile-name">Cột mốc</label>
                                <input type="text" id="profile-name" name="Milestones" readonly value="@Model.Milestones">
                            </div>
                            <!-- /FORM INPUT -->
                        </div>
                        <!-- /FORM ITEM -->
                        <!-- FORM ITEM -->
                        <div class="form-item">
                            <!-- FORM INPUT -->
                            <div class="form-input small active">
                                <label for="profile-public-email">Nơi làm việc</label>
                                <input type="text" id="profile-public-email" name="Workplace" readonly value="@Model.Workplace">
                            </div>
                            <!-- /FORM INPUT -->
                            <!-- FORM INPUT -->
                            <div class="form-input small active">
                                <label for="profile-public-website">Vị trí công tác</label>
                                <input type="text" id="profile-public-website" name="Position" readonly value="@Model.Position">
                            </div>
                            <!-- /FORM INPUT -->
                        </div>
                        <!-- /FORM ITEM -->
                    </div>
                    <!-- /FORM ROW -->
                    <!-- FORM ROW -->
                    <div class="form-row split">
                        <!-- FORM ITEM -->
                        <div class="form-item">
                            <!-- FORM INPUT -->
                            <div class="form-input small active">
                                <label for="profile-occupation">Chuyên ngành</label>
                                <input type="text" id="profile-occupation" name="Specialize" readonly value="@Model.Specialize">
                            </div>
                            <!-- /FORM INPUT -->
                        </div>
                        <!-- /FORM ITEM -->
                        <!-- FORM ITEM -->
                        <div class="form-item">
                            <!-- FORM INPUT DECORATED -->
                            <div class="form-input-decorated">
                                <!-- FORM INPUT -->
                                <div class="form-input small active">
                                    <label for="profile-birthday">Ngày sinh</label>
                                    <input type="date" id="profile-birthday" name="Birthday" readonly value="@Model.UserAccount.BirthDay?.ToString("yyyy-MM-dd")">
                                </div>
                                <!-- /FORM INPUT -->
                                <!-- FORM INPUT ICON -->
                                <svg class="form-input-icon icon-events">
                                    <use xlink:href="#svg-events"></use>
                                </svg>
                                <!-- /FORM INPUT ICON -->
                            </div>
                            <!-- /FORM INPUT DECORATED -->
                        </div>
                        <!-- /FORM ITEM -->
                    </div>
                    <!-- /FORM ROW -->
                    <!-- FORM ROW -->
                    <div class="form-row split">
                        <!-- FORM ITEM -->
                        <div class="form-item">
                            <!-- FORM INPUT -->
                            <div class="form-input small active">
                                <label for="profile-name">Giới thiệu về bản thân</label>
                                <input type="text" id="profile-name" name="Intro" readonly value="@Model.Intro">
                            </div>
                            <!-- /FORM INPUT -->
                        </div>
                        <!-- /FORM ITEM -->
                    </div>
                    <!-- /FORM ROW -->
                }

            </form>
            <!-- /FORM -->
        </div>
        <!-- WIDGET BOX CONTENT -->
    </div>
    <!-- /WIDGET BOX -->
</div>

