@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using ZAlpha.Application.Tag.Queries;
@using ZAlpha.Application.Post.Queries.GetAllPost;
@model ZAlpha.Application.Common.Models.PaginatedList<PostModel>

<!-- CONTENT GRID -->
<div class="content-grid">
    <!-- SECTION BANNER -->
    <div class="section-banner">
        <!-- SECTION BANNER ICON -->
        <img class="section-banner-icon" src="~/assets/images/banner/newsfeed-icon.png" alt="newsfeed-icon">
        <!-- /SECTION BANNER ICON -->
        <!-- SECTION BANNER TITLE -->
        <p class="section-banner-title">Newsfeed</p>
        <!-- /SECTION BANNER TITLE -->
        <!-- SECTION BANNER TEXT -->
        <p class="section-banner-text">Cùng xem những bài viết mới của chuyên gia và người dùng khác nào!</p>
        <!-- /SECTION BANNER TEXT -->
    </div>
    <!-- /SECTION BANNER -->
    <!-- GRID -->
    <div class="grid grid-3-6-3 mobile-prefer-content">
        <!-- GRID COLUMN -->
        <div class="grid-column">
        </div>
        <!-- /GRID COLUMN -->
        <!-- GRID COLUMN -->
        <div class="grid-column">
            <!-- QUICK POST -->
            <div class="quick-post">
                <div class="quick-post-header">
                    <div class="option-items">
                        <!-- OPTION ITEM -->
                        <div class="option-item active">
                            <svg class="option-item-icon icon-status">
                                <use xlink:href="#svg-status"></use>
                            </svg>

                            <p class="option-item-title">Bài viết mới</p>
                        </div>
                        <!-- /OPTION ITEM -->
                        @* <!-- OPTION ITEM -->
                        <div class="option-item">
                        <svg class="option-item-icon icon-blog-posts">
                        <use xlink:href="#svg-blog-posts"></use>
                        </svg>

                        <p class="option-item-title">Blog Post</p>
                        </div>
                        <!-- /OPTION ITEM -->

                        <!-- OPTION ITEM -->
                        <div class="option-item">
                        <svg class="option-item-icon icon-poll">
                        <use xlink:href="#svg-poll"></use>
                        </svg>

                        <p class="option-item-title">Poll</p>
                        </div>
                        <!-- /OPTION ITEM --> *@
                    </div>
                    <!-- /OPTION ITEMS -->
                </div>
                <!-- /QUICK POST HEADER -->
                <!-- QUICK POST BODY -->
                <div class="quick-post-body">
                    <!-- FORM -->
                    <form class="form">
                        <!-- FORM ROW -->
                        <div class="form-row">
                            <!-- FORM ITEM -->
                            <div class="form-item">
                                <!-- FORM TEXTAREA -->
                                <div class="form-textarea">
                                    <textarea id="quick-post-text" name="quick-post-text" placeholder="Chào @User.Identity.Name! Chia sẻ vấn đề với mọi người nào ..."></textarea>
                                    <!-- FORM TEXTAREA LIMIT TEXT -->
                                    @* <p class="form-textarea-limit-text">998/1000</p> *@
                                    <!-- /FORM TEXTAREA LIMIT TEXT -->
                                </div>
                                <!-- /FORM TEXTAREA -->
                            </div>
                            <!-- /FORM ITEM -->
                        </div>
                        <!-- /FORM ROW -->
                    </form>
                    <!-- /FORM -->
                </div>
                <!-- /QUICK POST BODY -->
                <!-- QUICK POST FOOTER -->
                <div class="quick-post-footer">
                    <!-- QUICK POST FOOTER ACTIONS -->
                    <div class="quick-post-footer-actions">
                        <!-- QUICK POST FOOTER ACTION -->
                        <div class="quick-post-footer-action text-tooltip-tft-medium" data-title="Insert Photo">
                            <!-- QUICK POST FOOTER ACTION ICON -->
                            <svg class="quick-post-footer-action-icon icon-camera">
                                <use xlink:href="#svg-camera"></use>
                            </svg>
                            <!-- /QUICK POST FOOTER ACTION ICON -->
                        </div>
                        <!-- /QUICK POST FOOTER ACTION -->
                        <!-- QUICK POST FOOTER ACTION -->
                        @* <div class="quick-post-footer-action text-tooltip-tft-medium" data-title="Insert GIF">
                        <!-- QUICK POST FOOTER ACTION ICON -->
                        <svg class="quick-post-footer-action-icon icon-gif">
                        <use xlink:href="#svg-gif"></use>
                        </svg>
                        <!-- /QUICK POST FOOTER ACTION ICON -->
                        </div>
                        <!-- /QUICK POST FOOTER ACTION --> *@

                        <!-- QUICK POST FOOTER ACTION -->
                        <div class="quick-post-footer-action text-tooltip-tft-medium" data-title="Insert Tag">
                            <!-- QUICK POST FOOTER ACTION ICON -->
                            <svg class="quick-post-footer-action-icon icon-tags">
                                <use xlink:href="#svg-tags"></use>
                            </svg>
                            <!-- /QUICK POST FOOTER ACTION ICON -->
                        </div>
                        <!-- /QUICK POST FOOTER ACTION -->
                    </div>
                    <!-- /QUICK POST FOOTER ACTIONS -->
                    <!-- QUICK POST FOOTER ACTIONS -->
                    <div class="quick-post-footer-actions">
                        <!-- BUTTON -->
                        <p class="button small void">Huỷ</p>
                        <!-- /BUTTON -->
                        <!-- BUTTON -->
                        <p class="button small secondary">Đăng</p>
                        <!-- /BUTTON -->
                    </div>
                    <!-- /QUICK POST FOOTER ACTIONS -->
                </div>
                <!-- /QUICK POST FOOTER -->
            </div>
            <!-- /QUICK POST -->
            <!-- SIMPLE TAB ITEMS -->
            <div class="simple-tab-items">
                <!-- FORM -->
                <form class="form">
                    <!-- FORM SELECT -->
                    <div class="form-select">
                        <select id="newsfeed-filter-category" name="newsfeed_filter_category">
                            <option value="0">Bài đăng mới</option>
                            @* <option value="1">Mentions</option>
                            <option value="2">Friends</option>
                            <option value="3">Groups</option>
                            <option value="4">Blog Posts</option> *@
                        </select>
                        <!-- FORM SELECT ICON -->
                        <svg class="form-select-icon icon-small-arrow">
                            <use xlink:href="#svg-small-arrow"></use>
                        </svg>
                        <!-- /FORM SELECT ICON -->
                    </div>
                    <!-- /FORM SELECT -->
                </form>
                <!-- /FORM -->
                <!-- SIMPLE TAB ITEM -->
                <p class="simple-tab-item active">Bài đăng mới</p>
                <!-- /SIMPLE TAB ITEM -->
                @* <!-- SIMPLE TAB ITEM -->
                <p class="simple-tab-item">Mentions</p>
                <!-- /SIMPLE TAB ITEM -->

                <!-- SIMPLE TAB ITEM -->
                <p class="simple-tab-item">Friends</p>
                <!-- /SIMPLE TAB ITEM -->

                <!-- SIMPLE TAB ITEM -->
                <p class="simple-tab-item">Groups</p>
                <!-- /SIMPLE TAB ITEM -->

                <!-- SIMPLE TAB ITEM -->
                <p class="simple-tab-item">Blog Posts</p>
                <!-- /SIMPLE TAB ITEM --> *@
            </div>
            <!-- /SIMPLE TAB ITEMS -->
            <!-------------------------------------------------------------------------------------------------------------------------------------->
            <!--Dòng for render-->
            <!-------------------------------------------------------------------------------------------------------------------------------------->
            @foreach (var item in Model.Items)
            {
                if (item.PostImagesUrl?.Length > 0)
                {
                    <!-- WIDGET BOX -->
                    <div class="widget-box no-padding">
                        <!-- WIDGET BOX SETTINGS -->
                        <div class="widget-box-settings">
                            <!-- POST SETTINGS WRAP -->
                            <div class="post-settings-wrap">
                                <!-- POST SETTINGS -->
                                <div class="post-settings widget-box-post-settings-dropdown-trigger">
                                    <!-- POST SETTINGS ICON -->
                                    <svg class="post-settings-icon icon-more-dots">
                                        <use xlink:href="#svg-more-dots"></use>
                                    </svg>
                                    <!-- /POST SETTINGS ICON -->
                                </div>
                                <!-- /POST SETTINGS -->
                                @if (item.InteractWithPosts.FirstOrDefault(r => r.InteractPostStatus
                               == ZAlpha.Domain.Enums.InteractPostStatus.Create).UserAccount.UserName
                               == User.Identity.Name)
                                {
                                    <!-- SIMPLE DROPDOWN -->
                                    <div class="simple-dropdown widget-box-post-settings-dropdown">
                                        <p class="simple-dropdown-link">Edit Post</p>
                                        <p class="simple-dropdown-link">Delete Post</p>
                                    </div>
                                    <!-- /SIMPLE DROPDOWN -->
                                } else {
                                    <!-- SIMPLE DROPDOWN -->
                                    <div class="simple-dropdown widget-box-post-settings-dropdown">
                                        <p class="simple-dropdown-link">Report Post</p>
                                        <p class="simple-dropdown-link">Report Author</p>
                                    </div>
                                    <!-- /SIMPLE DROPDOWN -->
                                }
                            </div>
                            <!-- /POST SETTINGS WRAP -->
                        </div>
                        <!-- /WIDGET BOX SETTINGS -->
                        <!-- WIDGET BOX STATUS -->
                        <div class="widget-box-status">
                            <!-- WIDGET BOX STATUS CONTENT -->
                            <div class="widget-box-status-content">
                                <!-- USER STATUS -->
                                <div class="user-status">
                                    <!-- USER STATUS AVATAR -->
                                    <a class="user-status-avatar" href="profile-timeline.html">
                                        <!-- USER AVATAR -->
                                        <div class="user-avatar small no-outline">
                                            <!-- USER AVATAR CONTENT -->
                                            <div class="user-avatar-content">
                                                <!-- HEXAGON -->
                                                <div class="hexagon-image-30-32"
                                                     data-src="https://scontent.fsgn5-3.fna.fbcdn.net/v/t1.6435-9/191815536_1305384429858113_8269960277638413432_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=7a1959&_nc_ohc=gwmw3i4ssq4AX89l7nM&_nc_ht=scontent.fsgn5-3.fna&oh=00_AfBBdaYdhMd37qfcnR9dkrenPGExGLHkzy8Vvli7ZFwnEA&oe=65D73E08"></div>
                                                <!-- /HEXAGON -->
                                            </div>
                                            <!-- /USER AVATAR CONTENT -->
                                            <!-- USER AVATAR PROGRESS -->
                                            <div class="user-avatar-progress">
                                                <!-- HEXAGON -->
                                                <div class="hexagon-progress-40-44"></div>
                                                <!-- /HEXAGON -->
                                            </div>
                                            <!-- /USER AVATAR PROGRESS -->
                                            <!-- USER AVATAR PROGRESS BORDER -->
                                            <div class="user-avatar-progress-border">
                                                <!-- HEXAGON -->
                                                <div class="hexagon-border-40-44"></div>
                                                <!-- /HEXAGON -->
                                            </div>
                                            <!-- /USER AVATAR PROGRESS BORDER -->


                                        </div>
                                        <!-- /USER AVATAR -->
                                    </a>
                                    <!-- /USER STATUS AVATAR -->
                                    <!-- USER STATUS TITLE -->
                                    <p class="user-status-title medium">
                                        <a class="bold" href="profile-timeline.html">
                                            @item.InteractWithPosts?.FirstOrDefault(o=>o.InteractPostStatus == ZAlpha.Domain.Enums.InteractPostStatus.Create)?.UserAccount.FirstName
                                            @item.InteractWithPosts?.FirstOrDefault(o=>o.InteractPostStatus == ZAlpha.Domain.Enums.InteractPostStatus.Create)?.UserAccount.LastName
                                        </a>
                                    </p>
                                    <!-- /USER STATUS TITLE -->
                                    <!-- USER STATUS TEXT -->
                                    <p class="user-status-text small">@item.Created</p>
                                    <!-- /USER STATUS TEXT -->
                                </div>
                                <!-- /USER STATUS -->
                                <!-- WIDGET BOX STATUS TEXT -->
                                <p class="widget-box-status-text">@item.PostBody</p>
                                <!-- /WIDGET BOX STATUS TEXT -->
                            </div>
                            <!-- /WIDGET BOX STATUS CONTENT -->
                            <!-- IFRAME WRAP -->
                            <div class="iframe-wrap" style="padding-top:0px;display:flex;align-content: center;justify-content: center;">
                                <img style="max-height:50vh; max-width:100%;" src="@item.PostImagesUrl" />
                                @* <iframe src="https://giphy.com/embed/1LnQIODGufGec" allowFullScreen></iframe> *@
                            </div>
                            <!-- /IFRAME WRAP -->
                            <!-- WIDGET BOX STATUS CONTENT -->
                            <div class="widget-box-status-content">


                                <!--TAG LIST-->
                                <div class="tag-list">
                                    <!-- TAG ITEM -->
                                    @foreach (var tag in @item.PostTags)
                                    {
                                        <!-- TAG ITEM -->
                                        <a class="tag-item secondary" href="newsfeed.html">@tag.Tag.TagName</a>
                                        <!-- /TAG ITEM -->
                                    }
                                </div>
                                <!--/TAG LIST-->
                                <!-- CONTENT ACTIONS -->
                                <div class="content-actions">
                                    <!-- CONTENT ACTION -->
                                    <div class="content-action">
                                        <!-- META LINE -->
                                        <div class="meta-line">
                                            <!-- META LINE LIST -->
                                            <div class="meta-line-list reaction-item-list">
                                                <!-- REACTION ITEM -->
                                                <div class="reaction-item">
                                                    <!-- REACTION IMAGE -->
                                                    <img class="reaction-image reaction-item-dropdown-trigger" src="~/assets/images/reaction/love.png" alt="reaction-love">
                                                    <!-- /REACTION IMAGE -->
                                                    <!-- SIMPLE DROPDOWN -->
                                                    <div class="simple-dropdown padded reaction-item-dropdown">
                                                        <!-- SIMPLE DROPDOWN TEXT -->
                                                        <p class="simple-dropdown-text"><img class="reaction" src="~/assets/images/reaction/love.png" alt="reaction-love"> <span class="bold">Love</span></p>
                                                        <!-- /SIMPLE DROPDOWN TEXT -->
                                                        <!-- SIMPLE DROPDOWN TEXT -->
                                                        <p class="simple-dropdown-text">Matt Parker</p>
                                                        <!-- /SIMPLE DROPDOWN TEXT -->
                                                        @* <!-- SIMPLE DROPDOWN TEXT -->
                                                        <p class="simple-dropdown-text">Destroy Dex</p>
                                                        <!-- /SIMPLE DROPDOWN TEXT -->
                                                        <!-- SIMPLE DROPDOWN TEXT -->
                                                        <p class="simple-dropdown-text">The Green Goo</p>
                                                        <!-- /SIMPLE DROPDOWN TEXT --> *@
                                                    </div>
                                                    <!-- /SIMPLE DROPDOWN -->
                                                </div>
                                                <!-- /REACTION ITEM -->
                                                <!-- REACTION ITEM -->
                                                <div class="reaction-item">
                                                    <!-- REACTION IMAGE -->
                                                    <img class="reaction-image reaction-item-dropdown-trigger" src="~/assets/images/reaction/happy.png" alt="reaction-happy">
                                                    <!-- /REACTION IMAGE -->
                                                    <!-- SIMPLE DROPDOWN -->
                                                    <div class="simple-dropdown padded reaction-item-dropdown">
                                                        <!-- SIMPLE DROPDOWN TEXT -->
                                                        <p class="simple-dropdown-text"><img class="reaction" src="~/assets/images/reaction/happy.png" alt="reaction-happy"> <span class="bold">Happy</span></p>
                                                        <!-- /SIMPLE DROPDOWN TEXT -->
                                                        <!-- SIMPLE DROPDOWN TEXT -->
                                                        <p class="simple-dropdown-text">Sandra Strange</p>
                                                        <!-- /SIMPLE DROPDOWN TEXT -->
                                                        @* <!-- SIMPLE DROPDOWN TEXT -->
                                                        <p class="simple-dropdown-text">Jane Rodgers</p>
                                                        <!-- /SIMPLE DROPDOWN TEXT --> *@
                                                    </div>
                                                    <!-- /SIMPLE DROPDOWN -->
                                                </div>
                                                <!-- /REACTION ITEM -->
                                                <!-- REACTION ITEM -->
                                                <div class="reaction-item">
                                                    <!-- REACTION IMAGE -->
                                                    <img class="reaction-image reaction-item-dropdown-trigger" src="~/assets/images/reaction/like.png" alt="reaction-like">
                                                    <!-- /REACTION IMAGE -->
                                                    <!-- SIMPLE DROPDOWN -->
                                                    <div class="simple-dropdown padded reaction-item-dropdown">
                                                        <!-- SIMPLE DROPDOWN TEXT -->
                                                        <p class="simple-dropdown-text"><img class="reaction" src="~/assets/images/reaction/like.png" alt="reaction-like"> <span class="bold">Like</span></p>
                                                        <!-- /SIMPLE DROPDOWN TEXT -->
                                                        <!-- SIMPLE DROPDOWN TEXT -->
                                                        <p class="simple-dropdown-text">Neko Bebop</p>
                                                        <!-- /SIMPLE DROPDOWN TEXT -->
                                                        @* <!-- SIMPLE DROPDOWN TEXT -->
                                                        <p class="simple-dropdown-text">Nick Grissom</p>
                                                        <!-- /SIMPLE DROPDOWN TEXT -->
                                                        <!-- SIMPLE DROPDOWN TEXT -->
                                                        <p class="simple-dropdown-text">Sarah Diamond</p>
                                                        <!-- /SIMPLE DROPDOWN TEXT -->
                                                        <!-- SIMPLE DROPDOWN TEXT -->
                                                        <p class="simple-dropdown-text">Jett Spiegel</p>
                                                        <!-- /SIMPLE DROPDOWN TEXT -->
                                                        <!-- SIMPLE DROPDOWN TEXT -->
                                                        <p class="simple-dropdown-text">Marcus Jhonson</p>
                                                        <!-- /SIMPLE DROPDOWN TEXT -->
                                                        <!-- SIMPLE DROPDOWN TEXT -->
                                                        <p class="simple-dropdown-text"><span class="bold">and 6 more...</span></p>
                                                        <!-- /SIMPLE DROPDOWN TEXT --> *@
                                                    </div>
                                                    <!-- /SIMPLE DROPDOWN -->
                                                </div>
                                                <!-- /REACTION ITEM -->
                                            </div>
                                            <!-- /META LINE LIST -->
                                            <!-- META LINE TEXT -->
                                            <p class="meta-line-text">16</p>
                                            <!-- /META LINE TEXT -->
                                        </div>
                                        <!-- /META LINE -->
                                    </div>
                                    <!-- /CONTENT ACTION -->
                                    <!-- CONTENT ACTION -->
                                    <div class="content-action">
                                        <!-- META LINE -->
                                        <div class="meta-line">
                                            <!-- META LINE LINK -->
                                            <p class="meta-line-link">@item.Comments?.Count bình luận</p>
                                            <!-- /META LINE LINK -->
                                        </div>
                                        <!-- /META LINE -->
                                        <!-- META LINE -->
                                        <div class="meta-line">
                                            <!-- META LINE TEXT -->
                                            <p class="meta-line-text">@item.WishListPosts?.Count lưu</p>
                                            <!-- /META LINE TEXT -->
                                        </div>
                                        <!-- /META LINE -->
                                    </div>
                                    <!-- /CONTENT ACTION -->
                                </div>
                                <!-- /CONTENT ACTIONS -->
                            </div>
                            <!-- /WIDGET BOX STATUS CONTENT -->
                        </div>
                        <!-- /WIDGET BOX STATUS -->
                        <!-- POST OPTIONS -->
                        <div class="post-options">
                            <!-- POST OPTION WRAP -->
                            <div class="post-option-wrap">
                                <!-- POST OPTION -->
                                <div class="post-option reaction-options-dropdown-trigger">
                                    <!-- POST OPTION ICON -->
                                    <svg class="post-option-icon icon-thumbs-up">
                                        <use xlink:href="#svg-thumbs-up"></use>
                                    </svg>
                                    <!-- /POST OPTION ICON -->
                                    <!-- POST OPTION TEXT -->
                                    <p class="post-option-text">Tương tác !</p>
                                    <!-- /POST OPTION TEXT -->
                                </div>
                                <!-- /POST OPTION -->
                                <!-- REACTION OPTIONS -->
                                <div class="reaction-options reaction-options-dropdown" style="position: absolute; z-index: 9999; bottom: 54px; left: -16px; opacity: 0; visibility: hidden; transform: translate(0px, 20px); transition: transform 0.3s ease-in-out 0s, opacity 0.3s ease-in-out 0s, visibility 0.3s ease-in-out 0s;">
                                    <!-- REACTION OPTION -->
                                    <div class="reaction-option text-tooltip-tft" data-title="Like" style="position: relative;">
                                        <!-- REACTION OPTION IMAGE -->
                                        <img class="reaction-option-image" src="~/assets/images/reaction/like.png" alt="reaction-like">
                                        <!-- /REACTION OPTION IMAGE -->
                                        <div class="xm-tooltip" style="white-space: nowrap; position: absolute; z-index: 99999; top: -28px; left: 50%; margin-left: -22px; opacity: 0; visibility: hidden; transform: translate(0px, 10px); transition: all 0.3s ease-in-out 0s;"><p class="xm-tooltip-text">Like</p></div>
                                    </div>
                                    <!-- /REACTION OPTION -->
                                    <!-- REACTION OPTION -->
                                    <div class="reaction-option text-tooltip-tft" data-title="Love" style="position: relative;">
                                        <!-- REACTION OPTION IMAGE -->
                                        <img class="reaction-option-image" src="~/assets/images/reaction/love.png" alt="reaction-love">
                                        <!-- /REACTION OPTION IMAGE -->
                                        <div class="xm-tooltip" style="white-space: nowrap; position: absolute; z-index: 99999; top: -28px; left: 50%; margin-left: -23.5px; opacity: 0; visibility: hidden; transform: translate(0px, 10px); transition: all 0.3s ease-in-out 0s;"><p class="xm-tooltip-text">Love</p></div>
                                    </div>
                                    <!-- /REACTION OPTION -->
                                    <!-- REACTION OPTION -->
                                    <div class="reaction-option text-tooltip-tft" data-title="Dislike" style="position: relative;">
                                        <!-- REACTION OPTION IMAGE -->
                                        <img class="reaction-option-image" src="~/assets/images/reaction/dislike.png" alt="reaction-dislike">
                                        <!-- /REACTION OPTION IMAGE -->
                                        <div class="xm-tooltip" style="white-space: nowrap; position: absolute; z-index: 99999; top: -28px; left: 50%; margin-left: -28px; opacity: 0; visibility: hidden; transform: translate(0px, 10px); transition: all 0.3s ease-in-out 0s;"><p class="xm-tooltip-text">Dislike</p></div>
                                    </div>
                                    <!-- /REACTION OPTION -->
                                    <!-- REACTION OPTION -->
                                    <div class="reaction-option text-tooltip-tft" data-title="Happy" style="position: relative;">
                                        <!-- REACTION OPTION IMAGE -->
                                        <img class="reaction-option-image" src="~/assets/images/reaction/happy.png" alt="reaction-happy">
                                        <!-- /REACTION OPTION IMAGE -->
                                        <div class="xm-tooltip" style="white-space: nowrap; position: absolute; z-index: 99999; top: -28px; left: 50%; margin-left: -27.5px; opacity: 0; visibility: hidden; transform: translate(0px, 10px); transition: all 0.3s ease-in-out 0s;"><p class="xm-tooltip-text">Happy</p></div>
                                    </div>
                                    <!-- /REACTION OPTION -->
                                    <!-- REACTION OPTION -->
                                    <div class="reaction-option text-tooltip-tft" data-title="Funny" style="position: relative;">
                                        <!-- REACTION OPTION IMAGE -->
                                        <img class="reaction-option-image" src="~/assets/images/reaction/funny.png" alt="reaction-funny">
                                        <!-- /REACTION OPTION IMAGE -->
                                        <div class="xm-tooltip" style="white-space: nowrap; position: absolute; z-index: 99999; top: -28px; left: 50%; margin-left: -27px; opacity: 0; visibility: hidden; transform: translate(0px, 10px); transition: all 0.3s ease-in-out 0s;"><p class="xm-tooltip-text">Funny</p></div>
                                    </div>
                                    <!-- /REACTION OPTION -->
                                    <!-- REACTION OPTION -->
                                    <div class="reaction-option text-tooltip-tft" data-title="Wow" style="position: relative;">
                                        <!-- REACTION OPTION IMAGE -->
                                        <img class="reaction-option-image" src="~/assets/images/reaction/wow.png" alt="reaction-wow">
                                        <!-- /REACTION OPTION IMAGE -->
                                        <div class="xm-tooltip" style="white-space: nowrap; position: absolute; z-index: 99999; top: -28px; left: 50%; margin-left: -24px; opacity: 0; visibility: hidden; transform: translate(0px, 10px); transition: all 0.3s ease-in-out 0s;"><p class="xm-tooltip-text">Wow</p></div>
                                    </div>
                                    <!-- /REACTION OPTION -->
                                    <!-- REACTION OPTION -->
                                    <div class="reaction-option text-tooltip-tft" data-title="Angry" style="position: relative;">
                                        <!-- REACTION OPTION IMAGE -->
                                        <img class="reaction-option-image" src="~/assets/images/reaction/angry.png" alt="reaction-angry">
                                        <!-- /REACTION OPTION IMAGE -->
                                        <div class="xm-tooltip" style="white-space: nowrap; position: absolute; z-index: 99999; top: -28px; left: 50%; margin-left: -26.5px; opacity: 0; visibility: hidden; transform: translate(0px, 10px); transition: all 0.3s ease-in-out 0s;"><p class="xm-tooltip-text">Angry</p></div>
                                    </div>
                                    <!-- /REACTION OPTION -->
                                    <!-- REACTION OPTION -->
                                    <div class="reaction-option text-tooltip-tft" data-title="Sad" style="position: relative;">
                                        <!-- REACTION OPTION IMAGE -->
                                        <img class="reaction-option-image" src="~/assets/images/reaction/sad.png" alt="reaction-sad">
                                        <!-- /REACTION OPTION IMAGE -->
                                        <div class="xm-tooltip" style="white-space: nowrap; position: absolute; z-index: 99999; top: -28px; left: 50%; margin-left: -21.5px; opacity: 0; visibility: hidden; transform: translate(0px, 10px); transition: all 0.3s ease-in-out 0s;"><p class="xm-tooltip-text">Sad</p></div>
                                    </div>
                                    <!-- /REACTION OPTION -->
                                </div>
                                <!-- /REACTION OPTIONS -->
                            </div>
                            <!-- /POST OPTION WRAP -->
                            <!-- POST OPTION -->
                            <a href="~/Post?postId=@item.Id">
                                <div class="post-option">
                                    <!-- POST OPTION ICON -->
                                    <svg class="post-option-icon icon-comment">
                                        <use xlink:href="#svg-comment"></use>
                                    </svg>
                                    <!-- /POST OPTION ICON -->
                                    <!-- POST OPTION TEXT -->
                                    <p class="post-option-text">Xem chi tiết</p>
                                    <!-- /POST OPTION TEXT -->
                                </div>
                            </a>
                            <!-- /POST OPTION -->
                            <!-- POST OPTION -->
                            <div class="post-option">
                                <!-- POST OPTION ICON -->
                                <svg class="post-option-icon icon-share">
                                    <use xlink:href="#svg-share"></use>
                                </svg>
                                <!-- /POST OPTION ICON -->
                                <!-- POST OPTION TEXT -->
                                <p class="post-option-text">Lưu</p>
                                <!-- /POST OPTION TEXT -->
                            </div>
                            <!-- /POST OPTION -->
                        </div>
                        <!-- /POST OPTIONS -->
                    </div>
                    <!-- /WIDGET BOX -->
                }
                else
                {
                    <div class="widget-box no-padding">
                        <!-- WIDGET BOX SETTINGS -->
                        <div class="widget-box-settings">
                            <!-- POST SETTINGS WRAP -->
                            <div class="post-settings-wrap" style="position: relative;">
                                <!-- POST SETTINGS -->
                                <div class="post-settings widget-box-post-settings-dropdown-trigger">
                                    <!-- POST SETTINGS ICON -->
                                    <svg class="post-settings-icon icon-more-dots">
                                        <use xlink:href="#svg-more-dots"></use>
                                    </svg>
                                    <!-- /POST SETTINGS ICON -->
                                </div>
                                <!-- /POST SETTINGS -->
                                @if (item.InteractWithPosts.FirstOrDefault(r => r.InteractPostStatus
                                   == ZAlpha.Domain.Enums.InteractPostStatus.Create).UserAccount.UserName
                                   == User.Identity.Name)
                                    {
                                        <!-- SIMPLE DROPDOWN -->
                                        <div class="simple-dropdown widget-box-post-settings-dropdown">
                                            <p class="simple-dropdown-link">Edit Post</p>
                                            <p class="simple-dropdown-link">Delete Post</p>
                                        </div>
                                        <!-- /SIMPLE DROPDOWN -->
                                    }
                                    else
                                    {
                                        <!-- SIMPLE DROPDOWN -->
                                        <div class="simple-dropdown widget-box-post-settings-dropdown">
                                            <p class="simple-dropdown-link">Report Post</p>
                                            <p class="simple-dropdown-link">Report Author</p>
                                        </div>
                                        <!-- /SIMPLE DROPDOWN -->
                                    }
                            </div>
                            <!-- /POST SETTINGS WRAP -->
                        </div>
                        <!-- /WIDGET BOX SETTINGS -->
                        <!-- WIDGET BOX STATUS -->
                        <div class="widget-box-status">
                            <!-- WIDGET BOX STATUS CONTENT -->
                            <div class="widget-box-status-content">
                                <!-- USER STATUS -->
                                <div class="user-status">
                                    <!-- USER STATUS AVATAR -->
                                    <a class="user-status-avatar" href="profile-timeline.html">
                                        <!-- USER AVATAR -->
                                        <div class="user-avatar small no-outline">
                                            <!-- USER AVATAR CONTENT -->
                                            <div class="user-avatar-content">
                                                <!-- HEXAGON -->
                                                <div class="hexagon-image-30-32" data-src="https://scontent.fsgn5-3.fna.fbcdn.net/v/t1.6435-9/191815536_1305384429858113_8269960277638413432_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=7a1959&_nc_ohc=gwmw3i4ssq4AX89l7nM&_nc_ht=scontent.fsgn5-3.fna&oh=00_AfBBdaYdhMd37qfcnR9dkrenPGExGLHkzy8Vvli7ZFwnEA&oe=65D73E08"
                                                     style="width: 30px; height: 32px; position: relative;">
                                                    <canvas width="30" height="32" style="position: absolute; top: 0px; left: 0px;"></canvas>
                                                </div>
                                                <!-- /HEXAGON -->
                                            </div>
                                            <!-- /USER AVATAR CONTENT -->
                                            @* <!-- USER AVATAR PROGRESS -->
                                            <div class="user-avatar-progress">
                                                <!-- HEXAGON -->
                                                <div class="hexagon-progress-40-44" style="width: 40px; height: 44px; position: relative;"><canvas width="40" height="44" style="position: absolute; top: 0px; left: 0px;"></canvas></div>
                                                <!-- /HEXAGON -->
                                            </div>
                                            <!-- /USER AVATAR PROGRESS -->
                                            <!-- USER AVATAR PROGRESS BORDER -->
                                            <div class="user-avatar-progress-border">
                                                <!-- HEXAGON -->
                                                <div class="hexagon-border-40-44" style="width: 40px; height: 44px; position: relative;"><canvas width="40" height="44" style="position: absolute; top: 0px; left: 0px;"></canvas></div>
                                                <!-- /HEXAGON -->
                                            </div>
                                            <!-- /USER AVATAR PROGRESS BORDER --> *@

                                        </div>
                                        <!-- /USER AVATAR -->
                                    </a>
                                    <!-- /USER STATUS AVATAR -->
                                    <!-- USER STATUS TITLE -->
                                    <p class="user-status-title medium">
                                        <a class="bold" href="profile-timeline.html">
                                            @item.InteractWithPosts.FirstOrDefault(o => o.InteractPostStatus == ZAlpha.Domain.Enums.InteractPostStatus.Create).UserAccount.FirstName
                                            @item.InteractWithPosts.FirstOrDefault(o => o.InteractPostStatus == ZAlpha.Domain.Enums.InteractPostStatus.Create).UserAccount.LastName
                                        </a>
                                    </p>
                                    <!-- /USER STATUS TITLE -->
                                    <!-- USER STATUS TEXT -->
                                    <p class="user-status-text small">@item.Created</p>
                                    <!-- /USER STATUS TEXT -->
                                </div>
                                <!-- /USER STATUS -->
                                <!-- WIDGET BOX STATUS TEXT -->
                                <p class="widget-box-status-text">
                                    @item.PostBody
                                </p>
                                <!-- /WIDGET BOX STATUS TEXT -->
                                <!-- TAG LIST -->
                                <div class="tag-list">
                                    @foreach (var tag in @item.PostTags)
                                    {
                                        <!-- TAG ITEM -->
                                        <a class="tag-item secondary" href="newsfeed.html">@tag.Tag.TagName</a>
                                        <!-- /TAG ITEM -->
                                    }
                                </div>
                                <!--/ TAG LIST -->
                                <!-- CONTENT ACTIONS -->
                                <div class="content-actions">
                                    <!-- CONTENT ACTION -->
                                    <div class="content-action">
                                        <!-- META LINE -->
                                        <div class="meta-line">
                                            <!-- META LINE LIST -->
                                            <div class="meta-line-list reaction-item-list">
                                                <!-- REACTION ITEM -->
                                                <div class="reaction-item" style="position: relative;">
                                                    <!-- REACTION IMAGE -->
                                                    <img class="reaction-image reaction-item-dropdown-trigger" src="~/assets/images/reaction/dislike.png" alt="reaction-dislike">
                                                    <!-- /REACTION IMAGE -->
                                                    <!-- SIMPLE DROPDOWN -->
                                                    <div class="simple-dropdown padded reaction-item-dropdown" style="position: absolute; z-index: 9999; bottom: 38px; left: -16px; opacity: 0; visibility: hidden; transform: translate(0px, 20px); transition: transform 0.3s ease-in-out 0s, opacity 0.3s ease-in-out 0s, visibility 0.3s ease-in-out 0s;">
                                                        <!-- SIMPLE DROPDOWN TEXT -->
                                                        <p class="simple-dropdown-text"><img class="reaction" src="~/assets/images/reaction/dislike.png" alt="reaction-dislike"> <span class="bold">Dislike</span></p>
                                                        <!-- /SIMPLE DROPDOWN TEXT -->
                                                        <!-- SIMPLE DROPDOWN TEXT -->
                                                        <p class="simple-dropdown-text">Matt Parker</p>
                                                        <!-- /SIMPLE DROPDOWN TEXT -->
                                                        @* <!-- SIMPLE DROPDOWN TEXT -->
                                                        <p class="simple-dropdown-text">Destroy Dex</p>
                                                        <!-- /SIMPLE DROPDOWN TEXT -->
                                                        <!-- SIMPLE DROPDOWN TEXT -->
                                                        <p class="simple-dropdown-text">The Green Goo</p>
                                                        <!-- /SIMPLE DROPDOWN TEXT --> *@
                                                    </div>
                                                    <!-- /SIMPLE DROPDOWN -->
                                                </div>
                                                <!-- /REACTION ITEM -->
                                                <!-- REACTION ITEM -->
                                                <div class="reaction-item" style="position: relative;">
                                                    <!-- REACTION IMAGE -->
                                                    <img class="reaction-image reaction-item-dropdown-trigger" src="~/assets/images/reaction/love.png" alt="reaction-love">
                                                    <!-- /REACTION IMAGE -->
                                                    <!-- SIMPLE DROPDOWN -->
                                                    <div class="simple-dropdown padded reaction-item-dropdown" style="position: absolute; z-index: 9999; bottom: 38px; left: -16px; opacity: 0; visibility: hidden; transform: translate(0px, 20px); transition: transform 0.3s ease-in-out 0s, opacity 0.3s ease-in-out 0s, visibility 0.3s ease-in-out 0s;">
                                                        <!-- SIMPLE DROPDOWN TEXT -->
                                                        <p class="simple-dropdown-text"><img class="reaction" src="~/assets/images/reaction/love.png" alt="reaction-love"> <span class="bold">Love</span></p>
                                                        <!-- /SIMPLE DROPDOWN TEXT -->
                                                        <!-- SIMPLE DROPDOWN TEXT -->
                                                        <p class="simple-dropdown-text">Sandra Strange</p>
                                                        <!-- /SIMPLE DROPDOWN TEXT -->
                                                       @*  <!-- SIMPLE DROPDOWN TEXT -->
                                                        <p class="simple-dropdown-text">Jane Rodgers</p>
                                                        <!-- /SIMPLE DROPDOWN TEXT --> *@
                                                    </div>
                                                    <!-- /SIMPLE DROPDOWN -->
                                                </div>
                                                <!-- /REACTION ITEM -->
                                                <!-- REACTION ITEM -->
                                                <div class="reaction-item" style="position: relative;">
                                                    <!-- REACTION IMAGE -->
                                                    <img class="reaction-image reaction-item-dropdown-trigger" src="~/assets/images/reaction/like.png" alt="reaction-like">
                                                    <!-- /REACTION IMAGE -->
                                                    <!-- SIMPLE DROPDOWN -->
                                                    <div class="simple-dropdown padded reaction-item-dropdown" style="position: absolute; z-index: 9999; bottom: 38px; left: -16px; opacity: 0; visibility: hidden; transform: translate(0px, 20px); transition: transform 0.3s ease-in-out 0s, opacity 0.3s ease-in-out 0s, visibility 0.3s ease-in-out 0s;">
                                                        <!-- SIMPLE DROPDOWN TEXT -->
                                                        <p class="simple-dropdown-text"><img class="reaction" src="~/assets/images/reaction/like.png" alt="reaction-like"> <span class="bold">Like</span></p>
                                                        <!-- /SIMPLE DROPDOWN TEXT -->
                                                        <!-- SIMPLE DROPDOWN TEXT -->
                                                        <p class="simple-dropdown-text">Neko Bebop</p>
                                                        <!-- /SIMPLE DROPDOWN TEXT -->
                                                        @* <!-- SIMPLE DROPDOWN TEXT -->
                                                        <p class="simple-dropdown-text">Nick Grissom</p>
                                                        <!-- /SIMPLE DROPDOWN TEXT -->
                                                        <!-- SIMPLE DROPDOWN TEXT -->
                                                        <p class="simple-dropdown-text">Sarah Diamond</p>
                                                        <!-- /SIMPLE DROPDOWN TEXT -->
                                                        <!-- SIMPLE DROPDOWN TEXT -->
                                                        <p class="simple-dropdown-text">Jett Spiegel</p>
                                                        <!-- /SIMPLE DROPDOWN TEXT --> *@
                                                        <!-- SIMPLE DROPDOWN TEXT -->
                                                        <p class="simple-dropdown-text"><span class="bold">and 2 more...</span></p>
                                                        <!-- /SIMPLE DROPDOWN TEXT -->
                                                    </div>
                                                    <!-- /SIMPLE DROPDOWN -->
                                                </div>
                                                <!-- /REACTION ITEM -->
                                            </div>
                                            <!-- /META LINE LIST -->
                                            <!-- META LINE TEXT -->
                                            <p class="meta-line-text">@item.InteractWithPosts?.Count</p>
                                            <!-- /META LINE TEXT -->
                                        </div>
                                        <!-- /META LINE -->
                                    </div>
                                    <!-- /CONTENT ACTION -->
                                    <!-- CONTENT ACTION -->
                                    <div class="content-action">
                                        <!-- META LINE -->
                                        <div class="meta-line">
                                            <!-- META LINE LINK -->
                                            <p class="meta-line-link">@item.Comments?.Count bình luận</p>
                                            <!-- /META LINE LINK -->
                                        </div>
                                        <!-- /META LINE -->
                                        <!-- META LINE -->
                                        <div class="meta-line">
                                            <!-- META LINE TEXT -->
                                            <p class="meta-line-text">@item.WishListPosts?.Count lưu</p>
                                            <!-- /META LINE TEXT -->
                                        </div>
                                        <!-- /META LINE -->
                                    </div>
                                    <!-- /CONTENT ACTION -->
                                </div>
                                <!-- /CONTENT ACTIONS -->
                            </div>
                            <!-- /WIDGET BOX STATUS CONTENT -->
                        </div>
                        <!-- /WIDGET BOX STATUS -->
                        <!-- POST OPTIONS -->
                        <div class="post-options">
                            <!-- POST OPTION WRAP -->
                            <div class="post-option-wrap" style="position: relative;">
                                <!-- POST OPTION -->
                                <div class="post-option reaction-options-dropdown-trigger">
                                    <!-- POST OPTION ICON -->
                                    <svg class="post-option-icon icon-thumbs-up">
                                        <use xlink:href="#svg-thumbs-up"></use>
                                    </svg>
                                    <!-- /POST OPTION ICON -->
                                    <!-- POST OPTION TEXT -->
                                    <p class="post-option-text">Tương tác !</p>
                                    <!-- /POST OPTION TEXT -->
                                </div>
                                <!-- /POST OPTION -->
                                <!-- REACTION OPTIONS -->
                                <div class="reaction-options reaction-options-dropdown" style="position: absolute; z-index: 9999; bottom: 54px; left: -16px; opacity: 0; visibility: hidden; transform: translate(0px, 20px); transition: transform 0.3s ease-in-out 0s, opacity 0.3s ease-in-out 0s, visibility 0.3s ease-in-out 0s;">
                                    <!-- REACTION OPTION -->
                                    <div class="reaction-option text-tooltip-tft" data-title="Like" style="position: relative;">
                                        <!-- REACTION OPTION IMAGE -->
                                        <img class="reaction-option-image" src="~/assets/images/reaction/like.png" alt="reaction-like">
                                        <!-- /REACTION OPTION IMAGE -->
                                        <div class="xm-tooltip" style="white-space: nowrap; position: absolute; z-index: 99999; top: -28px; left: 50%; margin-left: -22px; opacity: 0; visibility: hidden; transform: translate(0px, 10px); transition: all 0.3s ease-in-out 0s;"><p class="xm-tooltip-text">Like</p></div>
                                    </div>
                                    <!-- /REACTION OPTION -->
                                    <!-- REACTION OPTION -->
                                    <div class="reaction-option text-tooltip-tft" data-title="Love" style="position: relative;">
                                        <!-- REACTION OPTION IMAGE -->
                                        <img class="reaction-option-image" src="~/assets/images/reaction/love.png" alt="reaction-love">
                                        <!-- /REACTION OPTION IMAGE -->
                                        <div class="xm-tooltip" style="white-space: nowrap; position: absolute; z-index: 99999; top: -28px; left: 50%; margin-left: -23.5px; opacity: 0; visibility: hidden; transform: translate(0px, 10px); transition: all 0.3s ease-in-out 0s;"><p class="xm-tooltip-text">Love</p></div>
                                    </div>
                                    <!-- /REACTION OPTION -->
                                    <!-- REACTION OPTION -->
                                    <div class="reaction-option text-tooltip-tft" data-title="Dislike" style="position: relative;">
                                        <!-- REACTION OPTION IMAGE -->
                                        <img class="reaction-option-image" src="~/assets/images/reaction/dislike.png" alt="reaction-dislike">
                                        <!-- /REACTION OPTION IMAGE -->
                                        <div class="xm-tooltip" style="white-space: nowrap; position: absolute; z-index: 99999; top: -28px; left: 50%; margin-left: -28px; opacity: 0; visibility: hidden; transform: translate(0px, 10px); transition: all 0.3s ease-in-out 0s;"><p class="xm-tooltip-text">Dislike</p></div>
                                    </div>
                                    <!-- /REACTION OPTION -->
                                    <!-- REACTION OPTION -->
                                    <div class="reaction-option text-tooltip-tft" data-title="Happy" style="position: relative;">
                                        <!-- REACTION OPTION IMAGE -->
                                        <img class="reaction-option-image" src="~/assets/images/reaction/happy.png" alt="reaction-happy">
                                        <!-- /REACTION OPTION IMAGE -->
                                        <div class="xm-tooltip" style="white-space: nowrap; position: absolute; z-index: 99999; top: -28px; left: 50%; margin-left: -27.5px; opacity: 0; visibility: hidden; transform: translate(0px, 10px); transition: all 0.3s ease-in-out 0s;"><p class="xm-tooltip-text">Happy</p></div>
                                    </div>
                                    <!-- /REACTION OPTION -->
                                    <!-- REACTION OPTION -->
                                    <div class="reaction-option text-tooltip-tft" data-title="Funny" style="position: relative;">
                                        <!-- REACTION OPTION IMAGE -->
                                        <img class="reaction-option-image" src="~/assets/images/reaction/funny.png" alt="reaction-funny">
                                        <!-- /REACTION OPTION IMAGE -->
                                        <div class="xm-tooltip" style="white-space: nowrap; position: absolute; z-index: 99999; top: -28px; left: 50%; margin-left: -27px; opacity: 0; visibility: hidden; transform: translate(0px, 10px); transition: all 0.3s ease-in-out 0s;"><p class="xm-tooltip-text">Funny</p></div>
                                    </div>
                                    <!-- /REACTION OPTION -->
                                    <!-- REACTION OPTION -->
                                    <div class="reaction-option text-tooltip-tft" data-title="Wow" style="position: relative;">
                                        <!-- REACTION OPTION IMAGE -->
                                        <img class="reaction-option-image" src="~/assets/images/reaction/wow.png" alt="reaction-wow">
                                        <!-- /REACTION OPTION IMAGE -->
                                        <div class="xm-tooltip" style="white-space: nowrap; position: absolute; z-index: 99999; top: -28px; left: 50%; margin-left: -24px; opacity: 0; visibility: hidden; transform: translate(0px, 10px); transition: all 0.3s ease-in-out 0s;"><p class="xm-tooltip-text">Wow</p></div>
                                    </div>
                                    <!-- /REACTION OPTION -->
                                    <!-- REACTION OPTION -->
                                    <div class="reaction-option text-tooltip-tft" data-title="Angry" style="position: relative;">
                                        <!-- REACTION OPTION IMAGE -->
                                        <img class="reaction-option-image" src="~/assets/images/reaction/angry.png" alt="reaction-angry">
                                        <!-- /REACTION OPTION IMAGE -->
                                        <div class="xm-tooltip" style="white-space: nowrap; position: absolute; z-index: 99999; top: -28px; left: 50%; margin-left: -26.5px; opacity: 0; visibility: hidden; transform: translate(0px, 10px); transition: all 0.3s ease-in-out 0s;"><p class="xm-tooltip-text">Angry</p></div>
                                    </div>
                                    <!-- /REACTION OPTION -->
                                    <!-- REACTION OPTION -->
                                    <div class="reaction-option text-tooltip-tft" data-title="Sad" style="position: relative;">
                                        <!-- REACTION OPTION IMAGE -->
                                        <img class="reaction-option-image" src="~/assets/images/reaction/sad.png" alt="reaction-sad">
                                        <!-- /REACTION OPTION IMAGE -->
                                        <div class="xm-tooltip" style="white-space: nowrap; position: absolute; z-index: 99999; top: -28px; left: 50%; margin-left: -21.5px; opacity: 0; visibility: hidden; transform: translate(0px, 10px); transition: all 0.3s ease-in-out 0s;"><p class="xm-tooltip-text">Sad</p></div>
                                    </div>
                                    <!-- /REACTION OPTION -->
                                </div>
                                <!-- /REACTION OPTIONS -->
                            </div>
                            <!-- /POST OPTION WRAP -->
                            <!-- POST OPTION -->
                            <a href="~/Post?postId=@item.Id"
                            <div class="post-option">
                                <!-- POST OPTION ICON -->
                                <svg class="post-option-icon icon-comment">
                                    <use xlink:href="#svg-comment"></use>
                                </svg>
                                <!-- /POST OPTION ICON -->
                                <!-- POST OPTION TEXT -->
                                <p class="post-option-text">Xem chi tiết</p>
                                <!-- /POST OPTION TEXT -->
                            </div>
                            <!-- /POST OPTION -->
                            <!-- POST OPTION -->
                            <div class="post-option">
                                <!-- POST OPTION ICON -->
                                <svg class="post-option-icon icon-share">
                                    <use xlink:href="#svg-share"></use>
                                </svg>
                                <!-- /POST OPTION ICON -->
                                <!-- POST OPTION TEXT -->
                                <p class="post-option-text">Lưu</p>
                                <!-- /POST OPTION TEXT -->
                            </div>
                            <!-- /POST OPTION -->
                        </div>
                        <!-- /POST OPTIONS -->
                    </div>
                }
            }
        </div>
        <!-- /GRID -->
    </div>
    <!-- /CONTENT GRID -->
